$main-color: #0365F2;

.LayoutSidebar {
  // min-width: 280px;
  width: 280px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid rgba(192, 192, 192, 0.562);
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: .3s;
  overflow-x: hidden;

  .search {
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 8px;

    &>div>div {
      background-color: #F7F7F7;
      border-radius: 6px;
      width: 100%;
    }


    fieldset {
      border-radius: 6px;
      width: 100%;
      border: none;
    }
  }

  .MuiButtonBase-root {
    padding: 12px;
    // border-top: 1px solid #F0F0F0;


    span {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
    }
  }

  .sidebar-collapse {
    border-bottom: 1px solid #F0F0F0;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0 12px;
    // box-shadow: inset 0px -1px 0px #E5E9EB;


    .brand {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-name {
        color: #6b6966;
        font-weight: bold;
        margin-left: 15px;
        opacity: 1;
        transition-duration: 0.3s;
        white-space: nowrap;
      }

      &-logo img {
        min-width: 35px;
        width: 35px;
        cursor: pointer;
      }

    }

    .cloes-btn {
      color: #6e8bb8;
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }

  .menu-button {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0;
    padding: 10px 12px;
    color: #6e8bb7;
    cursor: default;
    border: 0;
    column-gap: 5px;

    &:hover {
      background-color: #A8A8A81A;

      .extra_icon {
        display: flex !important;
        cursor: pointer;
      }
    }

    &.active {
      background-color: #0365F2;
      color: #fff;

      .extra_icon {
        display: none;
      }

      .profile-avatar {
        background-color: #fff;
        color: #0365F2;
      }
    }

    &.active-with-child {
      color: #0365F2;
      background-color: #fff;

      &:hover {
        // background: #A8A8A81A !important;
      }

      .extra_icon {
        display: none;
      }
    }

    .icon {
      margin-right: 13px;
      display: flex;
      align-items: center;
    }

    .profile-avatar {
      width: 36px;
      height: 36px;
      min-width: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      background-color: #71717A;
      color: #fff;
      margin-left: 6px;
      margin-right: 13px;
    }

    .open-label {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      flex: 1;
      white-space: nowrap;
      display: flex;
      align-items: center;
      column-gap: 8px;
      color: #A8A8A8;
    }

    .label {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      flex: 1;
      white-space: nowrap;
      display: flex;
      align-items: center;
      column-gap: 8px;
      color: #A8A8A8;
      justify-content: center;
    }

    .icon_group {
      display: flex;
      align-items: center;
      column-gap: 5px;

      .extra_icon {
        display: none;
      }
    }

    .arrow-icon {
      transition-duration: 0.3s;
      display: flex;

      &.open {
        transform: rotate(180deg);
      }
    }
  }


  .nav-block {
    // padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::-webkit-scrollbar-track {
      background: #c0c0c01c;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: #6e8bb77e;
    }

    .sidebar-footer {
      padding-top: 10px;
      border-top: 1px solid rgba(192, 192, 192, 0.294);
    }

    .parent-folder {
      cursor: default;
      justify-content: center;

      &:hover {
        .extra_icon {
          display: flex;
          margin-right: 5px;
          cursor: pointer;
          z-index: 99999;
        }
      }

      .folder-icon {
        margin-right: 8px;
      }

      .extra_icon {
        display: none;
      }
    }

    .parent-block {
      // margin-bottom: 4px;



      .nav-element {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 0;
        padding: 8px 12px;
        color: #6e8bb7;
        cursor: default;
        border: 0;
        column-gap: 5px;

        // background-color: #6E8BB733;



        &:hover {
          background-color: #A8A8A81A;

          .extra_icon {
            display: flex !important;
            cursor: pointer;
          }
        }

        &.active {
          background-color: #0365F2;
          color: #fff;

          .extra_icon {
            display: none;
          }

          .profile-avatar {
            background-color: #fff;
            color: #0365F2;
          }
        }

        &.active-with-child {
          color: #0365F2;
          background-color: #fff;

          &:hover {
            background-color: #A8A8A81A !important;
          }

          .extra_icon {
            display: none;
          }
        }

        .icon {
          margin-right: 13px;
          display: flex;
          align-items: center;
        }

        .profile-avatar {
          width: 36px;
          height: 36px;
          min-width: 36px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          background-color: #71717A;
          color: #fff;
          margin-left: 6px;
          margin-right: 13px;
        }

        .label {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          flex: 1;
          white-space: nowrap;
          display: flex;
          align-items: center;
          column-gap: 8px;
        }

        .icon_group {
          display: flex;
          align-items: center;
          column-gap: 5px;

          .extra_icon {
            display: none;
          }
        }

        .arrow-icon {
          transition-duration: 0.3s;
          display: flex;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      .child-block {
        background-color: #6E8BB714;
        border-radius: 0 0 6px 6px;
        padding-top: 4px;
        // margin-top: -2px;
        // margin-left: 10px;

        .nav-element {
          margin-bottom: 10px;
          display: flex;
          background-color: transparent;
          cursor: grab;
          width: 95%;
        }

        .child-element-dot {
          width: 19px;
          display: flex;
          text-align: center;
          justify-content: center;
        }

        .label {
          padding-left: 10px;
          white-space: normal;
        }


      }

    }
  }


  &.right-side-closed {
    // min-width: 72px;
    width: 72px;

    .header {

      .brand-name {
        opacity: 0;
      }

      .cloes-btn {
        display: none;
      }
    }

    .nav-block {
      overflow-y: hidden;

      .label {
        display: none;
      }

      .arrow-icon {
        display: none;
      }

      .child-block {
        display: none;
      }

    }
  }


}

.tree_view {

  li {
    width: 100%;

    .Mui-selected {
      color: #fff;
      background-color: #0365F2 !important;
    }


    .MuiTreeItem-content {
      padding: 10px;
      border-radius: 8px;
    }

    .MuiTreeItem-label {
      font-size: 14px;
      font-weight: 600;
    }
  }
}




.ReactCollapse--collapse {
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.menu {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;



  li {
    column-gap: 6px;
    padding: 5px;
    border-radius: 6px;
  }


  div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s;

    &:hover {
      background-color: #6E8BB714;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 14px;
  }
}

.folder_btns-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}