.sidebarBtn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.sidebar {
  min-width: 200px;
  max-height: calc(100vh - 106px);
  border-right: 1px solid #e5e9eb;
  position: sticky;
  left: 0;
  z-index: 5;
  background-color: #fff;
}

.sidebarHeader {
  height: 106px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #e5e9eb;
  background-color: #fff;
  cursor: pointer;

  // &.month {
  //   height: 31px;
  // }
}

.sidebar_column {
  display: flex;
  flex-direction: column;
}

.sidebar_column_header {
  background-color: #fff;
  height: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-bottom: 1px solid #e5e9eb;
  cursor: pointer;
}

.sidebar_sub_column {
  height: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e9eb;
}
