.LayoutSidebar {
  width: 280px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid rgba(192, 192, 192, 0.562);
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  overflow-x: hidden;
}
.LayoutSidebar .search {
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 8px;
}
.LayoutSidebar .search > div > div {
  background-color: #F7F7F7;
  border-radius: 6px;
  width: 100%;
}
.LayoutSidebar .search fieldset {
  border-radius: 6px;
  width: 100%;
  border: none;
}
.LayoutSidebar .MuiButtonBase-root {
  padding: 12px;
}
.LayoutSidebar .MuiButtonBase-root span {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.LayoutSidebar .sidebar-collapse {
  border-bottom: 1px solid #F0F0F0;
}
.LayoutSidebar .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 0 12px;
}
.LayoutSidebar .header .brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.LayoutSidebar .header .brand-name {
  color: #6b6966;
  font-weight: bold;
  margin-left: 15px;
  opacity: 1;
  transition-duration: 0.3s;
  white-space: nowrap;
}
.LayoutSidebar .header .brand-logo img {
  min-width: 35px;
  width: 35px;
  cursor: pointer;
}
.LayoutSidebar .header .cloes-btn {
  color: #6e8bb8;
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.LayoutSidebar .menu-button {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0;
  padding: 10px 12px;
  color: #6e8bb7;
  cursor: default;
  border: 0;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.LayoutSidebar .menu-button:hover {
  background-color: rgba(168, 168, 168, 0.1019607843);
}
.LayoutSidebar .menu-button:hover .extra_icon {
  display: flex !important;
  cursor: pointer;
}
.LayoutSidebar .menu-button.active {
  background-color: #0365F2;
  color: #fff;
}
.LayoutSidebar .menu-button.active .extra_icon {
  display: none;
}
.LayoutSidebar .menu-button.active .profile-avatar {
  background-color: #fff;
  color: #0365F2;
}
.LayoutSidebar .menu-button.active-with-child {
  color: #0365F2;
  background-color: #fff;
}
.LayoutSidebar .menu-button.active-with-child .extra_icon {
  display: none;
}
.LayoutSidebar .menu-button .icon {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.LayoutSidebar .menu-button .profile-avatar {
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #71717A;
  color: #fff;
  margin-left: 6px;
  margin-right: 13px;
}
.LayoutSidebar .menu-button .open-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: #A8A8A8;
}
.LayoutSidebar .menu-button .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: #A8A8A8;
  justify-content: center;
}
.LayoutSidebar .menu-button .icon_group {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.LayoutSidebar .menu-button .icon_group .extra_icon {
  display: none;
}
.LayoutSidebar .menu-button .arrow-icon {
  transition-duration: 0.3s;
  display: flex;
}
.LayoutSidebar .menu-button .arrow-icon.open {
  transform: rotate(180deg);
}
.LayoutSidebar .nav-block {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.LayoutSidebar .nav-block::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.1098039216);
}
.LayoutSidebar .nav-block::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(110, 139, 183, 0.4941176471);
}
.LayoutSidebar .nav-block .sidebar-footer {
  padding-top: 10px;
  border-top: 1px solid rgba(192, 192, 192, 0.294);
}
.LayoutSidebar .nav-block .parent-folder {
  cursor: default;
  justify-content: center;
}
.LayoutSidebar .nav-block .parent-folder:hover .extra_icon {
  display: flex;
  margin-right: 5px;
  cursor: pointer;
  z-index: 99999;
}
.LayoutSidebar .nav-block .parent-folder .folder-icon {
  margin-right: 8px;
}
.LayoutSidebar .nav-block .parent-folder .extra_icon {
  display: none;
}
.LayoutSidebar .nav-block .parent-block .nav-element {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0;
  padding: 8px 12px;
  color: #6e8bb7;
  cursor: default;
  border: 0;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.LayoutSidebar .nav-block .parent-block .nav-element:hover {
  background-color: rgba(168, 168, 168, 0.1019607843);
}
.LayoutSidebar .nav-block .parent-block .nav-element:hover .extra_icon {
  display: flex !important;
  cursor: pointer;
}
.LayoutSidebar .nav-block .parent-block .nav-element.active {
  background-color: #0365F2;
  color: #fff;
}
.LayoutSidebar .nav-block .parent-block .nav-element.active .extra_icon {
  display: none;
}
.LayoutSidebar .nav-block .parent-block .nav-element.active .profile-avatar {
  background-color: #fff;
  color: #0365F2;
}
.LayoutSidebar .nav-block .parent-block .nav-element.active-with-child {
  color: #0365F2;
  background-color: #fff;
}
.LayoutSidebar .nav-block .parent-block .nav-element.active-with-child:hover {
  background-color: rgba(168, 168, 168, 0.1019607843) !important;
}
.LayoutSidebar .nav-block .parent-block .nav-element.active-with-child .extra_icon {
  display: none;
}
.LayoutSidebar .nav-block .parent-block .nav-element .icon {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.LayoutSidebar .nav-block .parent-block .nav-element .profile-avatar {
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #71717A;
  color: #fff;
  margin-left: 6px;
  margin-right: 13px;
}
.LayoutSidebar .nav-block .parent-block .nav-element .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.LayoutSidebar .nav-block .parent-block .nav-element .icon_group {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.LayoutSidebar .nav-block .parent-block .nav-element .icon_group .extra_icon {
  display: none;
}
.LayoutSidebar .nav-block .parent-block .nav-element .arrow-icon {
  transition-duration: 0.3s;
  display: flex;
}
.LayoutSidebar .nav-block .parent-block .nav-element .arrow-icon.open {
  transform: rotate(180deg);
}
.LayoutSidebar .nav-block .parent-block .child-block {
  background-color: rgba(110, 139, 183, 0.0784313725);
  border-radius: 0 0 6px 6px;
  padding-top: 4px;
}
.LayoutSidebar .nav-block .parent-block .child-block .nav-element {
  margin-bottom: 10px;
  display: flex;
  background-color: transparent;
  cursor: grab;
  width: 95%;
}
.LayoutSidebar .nav-block .parent-block .child-block .child-element-dot {
  width: 19px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.LayoutSidebar .nav-block .parent-block .child-block .label {
  padding-left: 10px;
  white-space: normal;
}
.LayoutSidebar.right-side-closed {
  width: 72px;
}
.LayoutSidebar.right-side-closed .header .brand-name {
  opacity: 0;
}
.LayoutSidebar.right-side-closed .header .cloes-btn {
  display: none;
}
.LayoutSidebar.right-side-closed .nav-block {
  overflow-y: hidden;
}
.LayoutSidebar.right-side-closed .nav-block .label {
  display: none;
}
.LayoutSidebar.right-side-closed .nav-block .arrow-icon {
  display: none;
}
.LayoutSidebar.right-side-closed .nav-block .child-block {
  display: none;
}

.tree_view li {
  width: 100%;
}
.tree_view li .Mui-selected {
  color: #fff;
  background-color: #0365F2 !important;
}
.tree_view li .MuiTreeItem-content {
  padding: 10px;
  border-radius: 8px;
}
.tree_view li .MuiTreeItem-label {
  font-size: 14px;
  font-weight: 600;
}

.ReactCollapse--collapse {
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.menu {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu li {
  -moz-column-gap: 6px;
       column-gap: 6px;
  padding: 5px;
  border-radius: 6px;
}
.menu div {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.5s;
}
.menu div:hover {
  background-color: rgba(110, 139, 183, 0.0784313725);
}
.menu h3 {
  font-weight: normal;
  font-size: 14px;
}

.folder_btns-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */enter;
  justify-content: flex-end;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */ent-block .nav-element.active {
  background-color: #0365f2;
  color: #fff;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element.active .extra_icon {
  display: none;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element.active .profile-avatar {
  background-color: #fff;
  color: #0365f2;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element.active-with-child {
  color: #0365f2;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element.active-with-child:hover {
  background-color: #eaecf0 !important;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element.active-with-child .extra_icon {
  display: none;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .icon {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .profile-avatar {
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #71717a;
  color: #fff;
  margin-left: 6px;
  margin-right: 13px;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .label p {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .icon_group {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .icon_group .extra_icon {
  display: none;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .arrow-icon {
  transition-duration: 0.3s;
  display: flex;
}
.SubMenu.right-side-closed .nav-block .parent-block .nav-element .arrow-icon.open {
  transform: rotate(180deg);
}
.SubMenu.right-side-closed .nav-block .parent-block .child-block {
  background-color: rgba(110, 139, 183, 0.0784313725);
  border-radius: 0 0 6px 6px;
  padding-top: 4px;
}
.SubMenu.right-side-closed .nav-block .parent-block .child-block .nav-element {
  margin-bottom: 10px;
  display: flex;
  background-color: transparent;
  cursor: grab;
  width: 95%;
}
.SubMenu.right-side-closed .nav-block .parent-block .child-block .child-element-dot {
  width: 19px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.SubMenu.right-side-closed .nav-block .parent-block .child-block .label {
  padding-left: 10px;
  white-space: normal;
}

.tree_view li {
  width: 100%;
}
.tree_view li .Mui-selected {
  color: #fff;
  background-color: #0365f2 !important;
}
.tree_view li .MuiTreeItem-content {
  padding: 10px;
  border-radius: 8px;
}
.tree_view li .MuiTreeItem-label {
  font-size: 14px;
  font-weight: 600;
}

.ReactCollapse--collapse {
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.menu {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.menu div {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.5s;
}
.menu div:hover {
  background-color: rgba(110, 139, 183, 0.0784313725);
}
.menu h3 {
  font-weight: normal;
  font-size: 14px;
}

.folder_btns-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */