.tableHeadCell {
  color: #475467;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.tBodyCell {
  padding: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}