.datesRow {
  display: flex;

  .dateBlock {
    .monthBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      height: 32px;
      border: 1px solid #e5e9eb;
      border-left: none;
      margin: -1px -1px 0 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 100%;
        width: 1px;
        height: calc(100vh - 32px);
        background-color: #e5e9eb;
      }
    }

    .daysRow {
      display: flex;
    }

    .dayBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      min-width: 60px;
      border: 1px solid #e5e9eb;

      &:first-of-type {
        border-left: none;
      }
    }
  }

  .mockBlock {
    min-width: 200px;
    width: 200px;
    border-right: 1px solid #e5e9eb;
    border-bottom: 1px solid #e5e9eb;
  }

  // .dateBlock {
  //   height: 32px;
  //   min-width: 160px;
  //   width: 160px;
  //   border-width: 0px 1px 1px 0px;
  //   border-style: solid;
  //   border-color: #E5E9EB;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin: -1px -1px 0 0;

  //   &.mockBlock {
  //     min-width: 200px;
  //     width: 200px;
  //   }
  // }
}