@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .drag_handles {
//   left: 80px !important;
// }

// .rowCol {
//   input {
//     height: 30px !important;

//     &:hover {
//       background: #f7f7f7;
//       border-radius: 4px;
//     }
//   }
//   margin-top: 4px;
//   cursor: pointer;
//   .icon {
//     display: block;
//     width: 16px;
//     height: 16px;
//   }
//   .drag {
//     width: 16px;
//     height: 16px;
//     display: none;
//     cursor: grab;
//   }

//   &:hover {
//     .icon {
//       display: none;
//     }

//     .drag {
//       display: block;
//     }
//   }
// }

// .rowDragCol {
//   cursor: pointer;
//   .icon {
//     display: block;
//     width: 16px;
//     height: 16px;
//   }
//   .drag {
//     width: 16px;
//     height: 16px;
//     display: none;
//     cursor: grab;
//   }
// }

.headingText {
  div {
    fieldset {
      display: none;
    }
  }

  input {
    font-weight: 700;
    height: 25px;
    font-size: 32px;
    padding-left: 0;
  }
}

.drag-items {
  position: absolute !important;
  pointer-events: none;
  z-index: 1000;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .icon {
    display: none;
  }

  .drag {
    display: block;
  }
}

.layoutHeading {
  .fieldChoose {
    display: none;
  }
  &:hover {
    .fieldChoose {
      display: block;
    }
  }
}

.drop-preview {
  background-color: rgba(0, 0, 255, 0.1);
  border: 2px dashed blue;
  min-height: 34px;
}
