.permission {
  height: 100%;
  overflow: hidden;

  .wrapper {
      padding: 0 !important;
  }
}

.tabs {

  ul {
      border: none;
      padding: 0 10px;
  }
}

.role {
  margin-top: 8px;
}

.head_row {
  &:hover {
      background: #eff8ff;
  }
}

.sticky_header {
  position: sticky;
  background: #fff;
  left: 0;
  z-index: 99;
}

.btn {

  &:not(:last-child),
  &:not(:first-child) {
    border-radius: 0;
  }

  &:first-child {
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
