.typeBadge {
  height: 12px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-block: 2px;
  padding-inline: 4px;
  background: rgba(84, 72, 49, 0.15);
  color: rgb(50, 48, 44);
  font-size: 10px;
}

.exampleWrapper {
  display: flex;
  align-items: center;
}

.operator {
  color: #9a6e3a;
  padding: 0 4px;
}

.string {
  color: #690;
}

.punctuation {
  color: #999;
}

.function {
  color: #dd4a68;
}

.fieldTitle {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
}
