.moveableTask {
  position: absolute;
  top: 0;
  background: #fff;
  color: #000;
  border-radius: 6px;
  padding: 6px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
}
