.search {
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;

  padding: 3px 10px;
  background: #fff;
  border-bottom: 1px solid #E5E9EB;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .count {
    padding: 0 20px;
    span {
      color: #a8a8a8;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  fieldset {
    border: none;
  }
}