

.formPage {
  position: relative;
}

.formArea {
  // padding: 16px;
  display: flex;
}

.mainCardSide {
  min-width: 400px;
  width: 400px;
  height: calc(100vh - 56px - 56px);
  padding: 8px;
  overflow: auto;
}

.secondaryCardSide {
  flex: 1;
  max-width: calc(100% - 400px);
  height: calc(100vh - 56px - 56px);
  overflow: auto;
}

.formColumn {
  flex: 1;
}




