@use "/src/scss/colors";

.formPage {
  position: relative;
}

.formArea {
  display: flex;
  height: calc(100vh - 100px);
}

.mainCardSide {
  min-width: 400px;
  width: 400px;
  height: calc(100vh - 153px);
  background: #fff;
  padding-top: 0;
  overflow: auto;
  padding-right: 0px;
  border-right: 1px solid #b3b0b0;
}

.newmainCardSide {
  width: 100%;
  height: 500px;
  background: #fff;
  padding-top: 0;
  overflow: auto;
  padding-right: 0px;
  border-right: 1px solid #b3b0b0;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
}

.secondaryCardSide {
  flex: 1;
  height: calc(100vh - 153px);
  overflow: auto;
  padding-top: 0;
  padding-left: 0;
}

.formColumn {
  flex: 1;
}

.newformColumn {
  min-width: 100%;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

.tableCardHeader {
  box-shadow: inset 0px -1px 0px #e5e9eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 10px;
  min-height: 54px;
  width: 100%;
  overflow-x: scroll;
  padding: 0 16px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 220px);
}

.heightControl {
  position: absolute;
  top: 35px;
  right: -7px;
  min-width: 120px;
  border: 1px solid #e5e9eb;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 5;
  border-radius: 6px;

  .heightControl_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #e5e9eb;
    cursor: pointer;

    &:hover {
      background-color: #f5f7f9;
    }

    &:last-child {
      border-bottom: none;
    }

    div {
      width: 100%;
      border: 0;

      &:hover {
        background-color: #f5f7f9;
      }

      svg {
        margin-left: 5px;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid #e5e9eb;
  position: relative;

  .header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    right: 30px;
    top: 15px;
    z-index: 3;

    button {
      width: 24px;
      height: 24px;
      border-radius: 6px;
      border: none;
      background: none;
      //color: #007AFF;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transform: rotate(180deg);
    }
  }

  .hideSideCard {
    display: flex;
    flex-direction: column;

    button {
      min-height: 53px;
      min-width: 36px;
      border-radius: 6px;
      color: #6e8bb7;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      background: none;
      position: absolute;
      z-index: 3;
    }
  }
}

.newcontainer {
  display: flex;
  flex-direction: column;
  // flex-direction: column;
  background: #fff;
  // border-right: 1px solid #e5e9eb;
  position: relative;
  padding: 16px;
  padding-right: 0;

  .newheader {
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: end;
    right: 30px;
    top: 15px;
    z-index: 3;

    button {
      width: 24px;
      height: 24px;
      border-radius: 6px;
      border: none;
      background: none;
      //color: #007AFF;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transform: rotate(180deg);
    }
  }

  .hideSideCard {
    display: flex;
    flex-direction: column;

    button {
      min-height: 53px;
      min-width: 36px;
      border-radius: 6px;
      color: #6e8bb7;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      background: none;
      position: absolute;
      z-index: 3;
    }
  }
}

.title {
  background-color: #fff;
  padding: 12px 0 12px 7px;

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
}

.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 32px;
  // height: 32px;
  background: #fff;
  border: 0;
  cursor: pointer;
  // border-left: 1px solid #eee;
  padding-left: 5px;
  color: #a8a8a8;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.menuBar {
  width: 180px;
}

.settings {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px 0;

  span {
    margin-left: 10px;
  }
}

.element {
  border: 1px solid #e5e9eb;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.2s;

  &.active {
    color: colors.$primary;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 2px solid #0e73f6;
  }
}

.template {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  // border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;
  padding: 5px 10px;
  cursor: pointer;

  // span {
  //   margin-left: 10px;
  // }
}

.lineControl {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 10px 5px 10px;
  cursor: pointer;

  span {
    margin-left: 10px;
  }

  .lineControl_item {
    display: flex;
    width: 32px;
    align-items: center;
    justify-content: center;
  }
}

.extraNavbar {
  // padding: 10px 16px;
  background-color: #fff;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  position: relative;
  border-bottom: 1px solid #eee;

  .extraWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      border-right: 1px solid #eee;
      display: flex;
      align-items: center;

      .count {
        padding: 0 20px;

        span {
          color: #a8a8a8;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      fieldset {
        border: none;
      }
    }

    .rightExtra {
      display: flex;
      gap: 5px;

      .lineControl {
        border-right: 1px solid #eee;
        padding: 0;
        padding-right: 10px;

        .buttonSpan {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #a8a8a8;
          font-size: 13px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}

.language {
  button {
    &.active {
      background-color: #1890ff !important;
      color: #fff;
    }
  }
}

.disableTab {
  color: #a8a8a8 !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  white-space: nowrap;
}

.activeTab {
  color: #2d6ce5 !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  white-space: nowrap;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 70%;
    height: 4px;
    border-radius: 2px 2px 0px 0px;
    background: #2d6ce5;
    transform: translateX(-50%);
  }
}
