.formPage {
  position: relative;
}

.formArea {
  // padding: 16px;
  display: flex;
}

.mainCardSide {
  min-width: 400px;
  width: 400px;
  height: calc(100vh - 56px - 56px);
  padding: 8px;
  overflow: auto;
}

.secondaryCardSide {
  flex: 1;
  max-width: calc(100% - 400px);
  height: calc(100vh - 56px - 56px);
  overflow: auto;
}

.formColumn {
  flex: 1;
}

.tableCardHeader {
  box-shadow: inset 0px -1px 0px #e5e9eb;
  // padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: 54px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 220px);
}
