

.main {
  padding: 16px;
  

  .card {
    background-color: #fff;
    height: calc(100vh - 150px);
    overflow: auto;
  }


  .wrapper {
    min-width: 100%;
    position: relative;
    min-height: calc(100vh - 150px);
    display:inline-block
  }
}

.datesRow {
  display: flex;
  position: sticky;
  height: 48px;
  top: 0px;
  background-color: #fff;
  z-index: 1;

  .sss {
    min-width: 130px;
    width: 130px;
    box-shadow: inset -1px -1px 0px #E5E9EB;
    position: sticky;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }


  .dateBlock {
    // min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -1px -1px 0px #E5E9EB;
  }
}

.mainFieldRow {
  display: flex;
  position: sticky;
  top: 48px;
  background-color: #fff;
  z-index: 1;

  .mainFieldNamesBlock {
    min-width: 130px;
    width: 130px;
    box-shadow: inset -1px -1px 0px #E5E9EB;
    position: sticky;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    div {
      flex: 1;
      padding: 5px 24px;
      font-weight: 600;
      box-shadow: inset -1px -1px 0px #E5E9EB;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .mainFieldBlock {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset -1px -1px 0px #E5E9EB;

    .mainFieldTitle {
      font-weight: 600;
    }

    .mainFieldSubtitle {
      color: #9AA6AC;
    }

  }

}

.calendar {
  display: flex;
}


.timesBlock {
  position: sticky;
  left: 0;

  .timeBlock {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-shadow: inset -1px -1px 0px #E5E9EB;
    background-color: #fff;
    
  }
}


.objectColumn {
  width: 200px;
  position: relative;

  .calendarRow {
    height: 40px;
    box-shadow: inset -1px -1px 0px #E5E9EB;
  }

  .infoBlockWrapper {
    width: 100%;
    padding: 5px 20px;
    height: 40px;
    position: absolute;
    

    .infoBlock {
      background-color: #E2F4E6;
      border-radius: 12px;
      padding: 8px;
      overflow: hidden;
      height: 70px;

      .time {
        color: #84919A;
        font-size: 12px;
      }
    }
  }

  

}