.dateWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.date {
  flex-grow: 1;
  font-size: 12px;
}

.dateIcon {
  width: 15.46px;
  height: 15.46px;
  margin-right: 24px;
}
