
@use '/src/scss/colors';

.selector {
  display: flex;
  // border-radius: 4px;
  overflow: hidden;
  // border: 1px solid #D5DADD;

  .element {
    width: max-content;
    height: 48px;
    min-width: 32px;
    // background: #fff;
    border-right: 1px solid #E5E9EB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6E8BB7;
    cursor: pointer;
    padding: 0 10px;
    &.active {
      color: colors.$primary;
      background-color: #fff;
      border-bottom: 1px solid #fff;
      border-top: 2px solid #0E73F6;

    }

    .icon{
      margin-right: 6px;
    }

    span{
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
    }

    &:hover .icon {
      transform: scale(1.2);
      // border: 1px solid #D5DADD;
    }

    button{
      border: none;
      margin-left: 5px;
      background: none;
      color: #0E73F6;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        background-color: #E5E9EB;
        cursor: pointer;
      }
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewTypes{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  button{
    background-color: #fff;
    border: 0;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    svg{
      margin-right: 8px;
      color: #6E8BB7;
    }

    &:hover{
      background-color: #F6F8F9;
    }
  }
}