.viewTypeList {
  .wrapper {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;
      padding: 16px;
      border-right: 1px solid #e5e5e5;
      button {
        width: 100%;
        text-align: left;
        color: #a8a8a8;
        display: flex;
        justify-content: start;
        padding: 8px 4px;

        &.active {
          color: #2d6ce5;
          background: #2d6ce51a;
        }
      }
    }

    .right {
      padding: 24px;

      .img {
        height: 200px;
        width: 400px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .text {
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        p {
          margin: 6px 0 12px 0;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .button {
        margin-top: 15px;
        button {
          text-transform: capitalize;
        }
      }
    }
  }
}

.drawerContent {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: width 0.1s ease;
}

.drawerContent.centerPeek {
  width: calc(100% - 300px) !important;
  height: calc(100vh - 20px) !important;
  position: fixed !important;
  top: 10px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  border-radius: 10px;
}

.resizer {
  width: 6px;
  height: calc(100vh - 0px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  cursor: col-resize;
}

.fallback {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

