

.card {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;


  .header {
    box-shadow: inset 0px -1px 0px #E5E9EB;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerLeftSide {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .body {
    padding: 20px;
    display: flex;
    gap: 50px;
  } 
}

.title {
  font-size: 18px;
}