.sortPopover {
  width: 350px;
  padding: 12px 4px;
}

.sortPopoverBody {
  display: flex;
  column-gap: 8px;
}

.fieldSelect {
  width: 100%;
}

.fieldSelectTextField {
  height: 32px;
  padding: 0;
}

.sortPopoverFooter {
  margin-top: 20px;
  display: flex;
  justify-self: flex-end;
  column-gap: 8px;
}
