@keyframes colorChange {
  0% {
    color: #bcb7b7;
  }
  25% {
    color: #5a5858;
  }
  50% {
    color: #9b9b99;
  }
  75% {
    color: #3f3d3d;
  }
  100% {
    color: #757575;
  }
}

.animated_text {
  animation: colorChange 2s linear infinite;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f3d3d;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  font-weight: 500;
}

.entityHeading {
  font-size: 14px;
}

.entityDescription {
  font-size: 12px;
  line-height: 1.5;
  color: #757575;
}