.video-block {
  position: relative;
  width: fit-content;
  display: flex;
  column-gap: 5px;
  align-items: center;

  video {
    height: 27px;
    min-width: 25px;
    width: 25px;
    border-radius: 4px;
    box-shadow:
      0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
    object-fit: cover;
  }

  &:hover > .close-btn {
    opacity: 1;
    transform: translate(0, 0);
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition-duration: 0.3s;
    color: rgba($color: #000000, $alpha: 0.4);
    transform: translate(10px, -10px);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: #0067f4;
    }
  }
}
