@use "/src/scss/colors";

.paper {
  margin-top: 5px;
}

.menu {
  padding: 0 !important;

  .menuItem {
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 16px;
    box-shadow: inset 0px -1px 0px #e5e9eb;
    min-width: 300px;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background-color: colors.$hover-silver;
    }
  }
}

.card {
  min-width: 80vw !important;
  margin: 0 50px;
  border: none;
  max-height: calc(100vh - 100px);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px #e5e9eb;

    .cardTitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }

    .closeIcon {
      font-size: 20px;
    }
  }

  .body {
    display: flex;
    align-items: flex-start;
  }
}

.cardFilter {
  min-width: 700px;
  border: none;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px #e5e9eb;

    .cardTitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }

    .closeIcon {
      font-size: 20px;
    }
  }

  .body {
    .wrapper {
      display: flex;
      padding: 16px 24px;
      gap: 8px;

      button {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        min-width: 32px;
        background: #fff;
        border: 1px solid rgb(221, 217, 217);
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.viewsWrapper {
  height: calc(100vh - 157px);
  overflow: auto;

  .views {
    width: 270px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #e5e9eb;
    border-radius: 0px 0px 6px 0px;

    .viewRow {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-bottom: 1px solid #e5e9eb;
      cursor: pointer;

      &:hover {
        background-color: colors.$hover-silver;
      }

      &:last-of-type {
        border: none;
        border-radius: 0px 0px 6px 0px;
      }

      &.active {
        background-color: colors.$primary;
        color: #fff;

        .icon {
          color: #fff;
        }
      }

      .icon {
        color: #6e8bb7;
      }

      .viewName {
        flex: 1;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.formSection {
  flex: 1;

  .formFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    border-top: 1px solid #e5e9eb;
    border-left: 1px solid #e5e9eb;
    border-radius: 6px;
    gap: 5px;
  }

  .viewForm {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 200px);
    overflow: auto;

    .section {
      border: 0;
      border-radius: 0;

      .sectionHeader {
        padding: 16px 12px;
        box-shadow: inset 0px -1px 0px #ebedee;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sectionTitle {
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
      }

      .sectionBody {
        padding: 16px 12px;

        .formRow {
          display: flex;
          align-items: center;
          gap: 30px;

          fieldset {
            border-radius: 6px;
          }
        }
      }
    }
  }
}

.section {
  border: 1px solid #e5e9eb;
  border-radius: 6px;

  .sectionHeader {
    padding: 16px 12px;
    box-shadow: inset 0px -1px 0px #ebedee;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sectionTitle {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .sectionBody {
    padding: 16px 12px;

    .formRow {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}

.table {
  .row {
    display: flex;
    background-color: #fff;
    // align-items: center;

    .cell {
      border: 1px solid #e5e9eb;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      margin: -1px -1px 0 0;
      // flex: 1;
    }
  }
}

.chartAccounts {
  .wrapper {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
    }

    .addIcon {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid #d5dadd;
      padding: 10px;

      svg {
        width: max-content;
      }
    }

    button {
      border: none;
      background: none;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.1s ease-in-out;

      svg {
        color: #0e73f6;
        width: 100%;
        height: 100%;
      }

      &:hover {
        background: #e5e9eb;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    button {
      margin: 0;
      z-index: 1;
    }

    span {
      display: block;
      border-radius: 50%;
      background-color: #f76659;
      padding: 2px;
      color: #fff;
      position: absolute;
      right: 10px;
      top: 0;
      height: 16px;
      width: 16px;
      text-align: center;
      z-index: 2;
    }
  }

  button {
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;

    svg {
      color: #0e73f6;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background: #e5e9eb;
    }
  }
}

.settings {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px 0;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}

.groupbyAndDelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 8px;

  button {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    background: #fff;
    border: 1px solid rgb(221, 217, 217);
    border-radius: 4px;
    cursor: pointer;
  }
}

.footerButton {
  .button {
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: max-content;

    svg {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }

    p {
      &:hover {
        color: #0e73f6;
      }
    }
  }
}

// <-- Summary Section --> //
.summarySection {
  min-height: 20px;
  min-width: 300px;
  max-width: 1200px;
  border-radius: 4px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  // margin: 8px 0;
  padding: 2px;

  &::-webkit-scrollbar {
    display: none;
  }

  .field_summary {
    min-width: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    // gap: 5px;
    background: #fff;
    padding: 5px 0px 0px 0px;

    &:not(:last-child) {
      &::after {
        content: "";
        width: 1px;
        height: 60px;
        background: #e5e9eb;
      }
    }
  }

  .field_summary_item {
    min-width: 125px;
    box-sizing: border-box;
    min-height: 45px;
    word-break: keep-all;
    margin-top: 0px;
    background: #fff;
    padding: 0px 10px 0px 10px;
    font-size: 0px;
    line-height: 16px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    span {
      font-size: 12px !important;
      text-transform: uppercase;
      line-height: 10px;
      font-weight: 500;
      height: 42px;
    }

    p {
      min-width: 70px;
      max-width: 100px;
      height: 16px;
      font-size: 12px;
      line-height: 24px;
      font-weight: 600;
      color: #9aa6ac;
      text-transform: initial;
    }

    input {
      display: block;
      font-size: 12px;
      line-height: 24px;
      font-weight: 600;
      color: #9aa6ac;
      background: none;
      text-transform: initial;
      width: 100%;
      border: none !important;
      outline: none;
    }
  }
}

.incrementVal {
  width: 160px;
}

.card {
  border-radius: 0;
  // border-left: 1px solid #e5e9eb;
  height: 100%;
  width: 100%;

  .cardHeader {
    // height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    // border-bottom: 1px solid #e5e9eb;
  }

  .tabList {
    width: calc(100% - 200px);
    overflow-x: scroll;
    display: flex;
    align-items: center;
  }

  .tabs_item {
    border-radius: 4px;
    cursor: pointer;
    // min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
  }

  .cardBody {
    padding: 12px;
  }
}

.relationTable {
  display: flex;
  .filtersBlock {
    padding: 12px;
    // border-right: 1px solid #e5e9eb;
    width: 210px;
  }

  .tableBlock {
    // padding: 12px;
    flex: 1;
    overflow: auto;
  }
}

.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 32px;
  // height: 32px;
  background: #fff;
  border: 0;
  cursor: pointer;
  // border-left: 1px solid #eee;
  padding-left: 5px;
  color: #a8a8a8;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.menuBar {
  width: 180px;
}

.menuItems {
  padding: 10px 14px;
  min-width: 200px;

  .menuItem {
    padding: 6px 0;
    // border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #fff;
  border: 0px solid rgb(221, 217, 217);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.element {
  border: 1px solid #e5e9eb;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.2s;
  &.active {
    color: colors.$primary;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 2px solid #0e73f6;
  }
}

.menuBar {
  width: 180px;
}

.template {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}

.optionsTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #8F8E8B;
}

.closeBtn {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #F5F5F5;
}
