.monaco-editor {
  border-radius: 4px !important;
  overflow: hidden !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px !important;
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace, Menlo, Monaco, "Courier New", monospace !important;

  & .view-line {
    font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace, Menlo, Monaco, "Courier New", monospace !important;
  }
}

.field-badge {
  background-color: rgb(84 72 49 / 15%) !important;
  color:  #32302c !important;
  border-radius: 6px;
  padding: 1px 2px;
  display: inline-flex !important;
  align-items: center;
  gap: 4px;
  font-size: 13px;
}

.field-badge-hide {
  opacity: 0;
  font-size: 0;
}
