.monaco-editor {
  border-radius: 4px !important;
  overflow: hidden !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px !important;

  .mtk25 {
    background-color: rgb(84 72 49 / 15%) !important;
    color:  #32302c !important;
    padding: 2px 6px !important;
    border-radius: 6px !important;
    display: inline-flex !important;
    align-items: center;
    gap: 4px;
  }
}