.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
}

.submitBtn {
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}
