.iconPicker {
  height: 16px;
}

.iconPicker.md {
  width: 36px;
  height: 36px;
  flex-shrink: 0;

  & .iconWrapper {
    width: 36px;
    height: 36px;
  }

}

.iconWrapper {
  width: 26px;
  height: 26px;
  border: 1px solid #EAECF0;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  color: #0067f4;

  &.rectangle {
    border-radius: 8px;
    // margin-top: 7px;
  }

  &.error {
    border-color: red !important;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.menuList {
  padding: 16px;
  width: 292px;
}

.iconsBlock {
  height: 230px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(7, 32px);
  justify-content: center;
  gap: 6px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.popupIconWrapper {
  width: 32px;
  height: 32px;
  border: 1px solid #EAECF0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.tabs {
  margin-top: 10px;

  .tabList {
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tab {
    width: auto;
    min-width: unset;
    padding: 5px 7px;
    border-bottom: 0;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #fff;
    flex-shrink: 0;
    list-style: none;
    border: none;
    color: #667085;

    &::marker {
      color: #fff;
    }

    &:hover {
      background-color: #F2F4F7;
    }
  }

  .active {
    background: #007afe;
    color: #fff;
    border: 1px solid #e5e9eb;
    border-radius: 8px;
    padding: 5px 7px;
    cursor: pointer;

    &:hover {
      background: #007afe;
    }
  }
}

.placeholder {
  width: 22px;
  height: 22px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
