.iconWrapper {
  width: 26px;
  height: 26px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  color: #0067f4;

  &.rectangle {
    border-radius: 6px;
    margin-top: 7px;
  }

  &.error {
    border-color: red !important;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.menuList {
  padding: 10px;
  width: 300px;
}

.iconsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.popupIconWrapper {
  width: 30px;
  height: 30px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.tabs {
  margin-top: 10px;

  .tabList {
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tab {
    width: auto;
    min-width: unset;
    padding: 5px 7px;
    border-bottom: 0;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #fff;
    flex-shrink: 0;
    list-style: none;

    &::marker {
      color: #fff;
    }
  }

  .active {
    background: #007afe;
    color: #fff;
    border: 1px solid #e5e9eb;
    border-radius: 8px;
    padding: 5px 7px;
    cursor: pointer;
  }
}

.placeholder {
  width: 22px;
  height: 22px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
