.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 28px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  

  &:hover {
    background-color: rgba(55, 53, 47, 0.06);
  }

  .icon {
    display: none;
  }

  .text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &.selected .icon {
    display: block;
  }
}
