.moveable2 .moveable-line {
  display: none;
}

.moveable2 .moveable-control-box {
  z-index: 0 !important;
}

.moveable2 .moveable-control {
  min-width: 100px !important;
  height: 3px !important;
  // margin-top: -20px !important;
  border: none !important;
  background-color: #999999 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  left: 30px !important;

  &.moveable-n {
    border-radius: 10px 10px 0 0 !important;
    margin-left: -80px !important;
    margin-top: 2px !important;
  }

  &.moveable-s {
    border-radius: 0 0 10px 10px !important;
    margin-left: -80px !important;
    z-index: 1;
  }
}

.moveable_horizantal .moveable-line {
  display: none;
}

.moveable_horizantal .moveable-control-box {
  z-index: 0 !important;
}

.moveable_horizantal .moveable-control {
  // min-width: 100px !important;
  // height: 3px !important;
  // margin-top: -20px !important;
  border: none !important;
  background-color: #999999 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  // left: 30px !important;

  &.moveable-n {
    border-radius: 10px 10px 0 0 !important;
    margin-left: -80px !important;
    margin-top: 2px !important;
  }

  &.moveable-s {
    border-radius: 0 0 10px 10px !important;
    margin-left: -80px !important;
    z-index: 1;
  }
}

// movealbe styled for timeline

.moveable3 .moveable-line {
  display: none;
}

.moveable3 .moveable-control-box {
  z-index: 0 !important;
}

.moveable3 .moveable-control {
  width: 3px !important;
  min-width: 3px !important;
  height: 18px !important;
  // margin-top: -20px !important;
  border: none !important;
  background-color: transparent !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  left: 4px !important;
  top: -2px !important;
  border-radius: 4px !important;
  cursor: col-resize !important;

  &.moveable-n {
    border-radius: 10px 10px 0 0 !important;
    margin-left: -80px !important;
    margin-top: 2px !important;
  }

  &.moveable-s {
    border-radius: 0 0 10px 10px !important;
    margin-left: -80px !important;
    z-index: 1;
  }

  &:hover {
    background-color: rgb(55, 53, 47) !important;
  }
}

.moveable_horizantal .moveable-line {
  display: none;
}

.moveable_horizantal .moveable-control-box {
  z-index: 0 !important;
}

.moveable_horizantal .moveable-control {
  // min-width: 100px !important;
  // height: 3px !important;
  // margin-top: -20px !important;
  border: none !important;
  background-color: #999999 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  // left: 30px !important;

  &.moveable-n {
    border-radius: 10px 10px 0 0 !important;
    margin-left: -80px !important;
    margin-top: 2px !important;
  }

  &.moveable-s {
    border-radius: 0 0 10px 10px !important;
    margin-left: -80px !important;
    z-index: 1;
  }
}