.grid {
    // background-color: white;
    transition: 0.8s;
}

.filterBtn {
    border: 1px solid #E5E9EB;
}
.active{ 
    border: 1px solid blue;
}
.filterForm {
    transition: all 0.8s;
}

.whiteIcon {
    fill: white;;
}