.header {
  width: 100%;
  height: 50px;

  border-bottom: 1px solid #e5e9eb;
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerLeftSide {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  height: 100%;

  .title {
    font-weight: 600;
    font-size: 20px;
    color: var(--heading-color);
  }
}

.headerRightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding: 0 15px;
  height: 100%;
  border-top: 1px solid #D4DAE2;

  .title {
    font-weight: 600;
    font-size: 20px;
    color: var(--heading-color);
  }
}

.border {
  background: #e5e9eb;
  border-radius: 1px;
  height: calc(100% - 32px);
  width: 1px;
}

.headerMiddleSide {
  height: 100%;
  display: flex;
  align-items: center;
}

.headerExtraSide {
  margin-left: auto;
  display: flex;
  align-items: center;
}