.modal_header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  justify-content: space-between;
  padding: 0 16px;
  span {
    cursor: pointer;
  }
  div {
    display: flex;
    align-items: center;
    p {
      margin-right: 100px;
    }
  }
}
.modal_main {
  .main_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 50%;
      padding: 8px 40px 8px 12px;
      border-right: 1px solid #e3e3e3;
      .slug {
        display: inline-block;
        padding: 8px 12px;
        border-radius: 6px;
        border: 1px solid #e3e3e3;
      }
      .action {
        padding: 8px;
        margin-top: 24px;
      }
      .terms {
        margin-top: 8px;

        span {
          margin-bottom: 1px;
        }
        .wrapper {
          display: flex;
          gap: 8px;
          .terms_current {
            width: 40%;
          }
          .terms_action {
            width: 20%;
          }
          .terms_fn {
            width: 40%;
            display: flex;
          }
          .terms_delete {
            border: 1px solid #e3e3e3;
            border-radius: 6px;
            display: inline-block;
            padding: 4px;
          }
        }
      }
      .splitter {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: space-between;
        margin: 8px 0;
        div:first-child,
        div:last-child {
          height: 1px;
          width: 100%;
          background: #e3e3e3;
        }
      }
      .btns {
        display: flex;
        gap: 8px;
        .btn {
          padding: 5px 12px;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .right {
      width: 50%;
      padding: 8px 12px 8px 40px;
    }
  }
  .save_btn {
    display: flex;
    justify-content: end;
    margin-top: 16px;
    margin-right: 12px;
    margin-bottom: 20px;
  }
}
