.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 16px;
  overflow: hidden;
  width: 50%;
  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}
