.wrapper {
    display: flex;
    .filters {
        padding: 8px;
        border-right: 1px solid #e3e3e3;
        p {
            font-weight: 700;
            margin-bottom: 12px;
        }
    }
    .table_box {
        width: calc(100vw - 254px);
    }
}