.minio {
    height: 100vh;
    background: #fff;
    padding: 0 32px;

    .header {
        padding-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftside {
            display: flex;
            align-items: center;
            column-gap: 16px;

            .foldericon {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F5F6FA;
                border-radius: 50%;
                cursor: pointer;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .rightside {
            display: flex;
            align-items: center;
            column-gap: 8px;

            .createicon {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F5F6FA;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background: #d8d9db;
                    transition: 0.5s;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .deleteicon {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F5F6FA;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background: #e35169;
                    color: #fff;
                    transition: 0.5s;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .addicon {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #007AFF;
                border-radius: 50%;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background: #005fc4;
                    transition: 0.5s;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .itemtitle {
                color: #a2b5cd;
            }
        }
    }

    .filterblock {
        padding: 24px 0;

        .block {
            height: 52px;
            border-top: 2px solid #F5F6FA;
            border-bottom: 2px solid #F5F6FA;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .select {
            .title {
                display: flex;
                align-items: center;
                column-gap: 5px;
                color: #c5cdd8;
                cursor: pointer;

                &:hover {
                    color: #000;
                    transition: 0.5s;
                }
            }
        }

        .filter {
            display: flex;
            align-items: center;
            column-gap: 5px;

            svg {
                width: 24px;
                height: 24px;
                color: #c5cdd8;
                cursor: pointer;

                &:hover {
                    color: #000;
                    transition: 0.5s;
                }
            }
        }
    }

    .miniocontainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        gap: 32px 16px;

        .card {
            display: flex;
            flex-direction: column;
            row-gap: 3px;
            position: relative;


            &:hover {
                .file {
                    -webkit-box-shadow: inset -7px 41px 10px -20px #e4e9ef;
                    box-shadow: inset -7px 41px 10px -20px #e4e9ef;
                }

                .unchecked {
                    display: block;
                }
            }



            .unchecked {
                display: none;
                width: 21px;
                height: 21px;
                position: absolute;
                left: 5px;
                top: 5px;
                border-radius: 50%;
                border: 2px solid #a2b5cd;
                cursor: pointer;
            }

            .checked {
                width: 21px;
                height: 21px;
                position: absolute;
                left: 5px;
                top: 5px;
                border-radius: 50%;
                border: 2px solid #007AFF;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;

                svg {
                    width: 16px;
                    height: 16px;
                    color: #007AFF;
                }
            }

            .file {
                width: 80px;
                height: 80px;
                background: #f0f4f9;
                border-radius: 6px;
                border-color: rgb(0, 122, 255, .50);
                transition: 0.2s;
                border-width: 0;
                border-style: solid;
                display: flex;
                align-items: center;
                justify-content: center;

                .img {
                    height: 80px;
                    border-radius: 6px;
                }

                svg {
                    width: 50px;
                    height: 50px;
                    color: #007AFF;
                }
            }

            .dop {
                border-width: 12px;

            }

            .title {
                font-weight: normal;
                color: #4f5464;
                font-weight: 600;
            }

            .text {
                font-weight: normal;
                color: #a2b5cd;
                font-weight: 600;
            }
        }


    }
}