.container {
  height: 100%;

  .tab {
    // width: 48px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid transparent;
    color: #ffffff99;
    cursor: pointer;

    &:hover {
      background-color: #ffffff1a;
    }

    &.active {
      background-color: #1e272c;
      border-color: #007AFF;
    }
  }
}