.card {
  border-radius: 0;
  // border-left: 1px solid #e5e9eb;
  height: 100%;
  width: 100%;

  .cardHeader {
    // height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    // border-bottom: 1px solid #e5e9eb;  
  }
  .tabList {
    width: calc(100% - 200px);
    overflow-x: scroll;
    display: flex;
    align-items: center;
    
  }
  .tabs_item {
    border-radius: 4px;
    cursor: pointer;
    // min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
  }

  .cardBody {
    padding: 12px;
  }
}

.relationTable {
  display: flex;

  .filtersBlock {
    padding: 12px;
    // border-right: 1px solid #e5e9eb;
    width: 210px;
  }

  .tableBlock {
    // padding: 12px;
    flex: 1;
    overflow: auto;
  }
}
