

.card {
  
  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px solid #E5E9EB;
    
  }

  .cardBody {
    padding: 12px;
  }
}


.relationTable {
  display: flex;

  .filtersBlock {
    padding: 12px;
    border-right: 1px solid #E5E9EB;
    width: 210px;
  }

  .tableBlock {
    padding: 12px;
    flex: 1;
    overflow: auto;

  }
}
