.extraNavbar {
  background-color: #fff;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  position: relative;
  border-bottom: 1px solid #eee;

  .extraWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      border-right: 1px solid #eee;
      display: flex;
      align-items: center;

      .count {
        padding: 0 20px;

        span {
          color: #a8a8a8;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      fieldset {
        border: none;
      }
    }

    .rightExtra {
      display: flex;
      gap: 5px;

      .lineControl {
        border-right: 1px solid #eee;
        padding: 0;
        padding-right: 10px;

        .buttonSpan {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #a8a8a8;
          font-size: 13px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}

.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 32px;
  // height: 32px;
  background: #fff;
  border: 0;
  cursor: pointer;
  // border-left: 1px solid #eee;
  padding-left: 5px;
  color: #a8a8a8;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.menuBar {
  padding: 12px 0 5px 0;
  width: 180px;
}

.template {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  background-color: #fff;
  overflow: auto;
  height: 100vh;

  .filters {
    padding: 8px;
    border-right: 1px solid #e3e3e3;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    transition: 0.3s;

    .block {
      padding: 8px;
      border-right: 0px solid #e3e3e3;

      p {
        font-weight: 700;
        margin-bottom: 12px;
      }
    }
  }

  .table_box {
    width: calc(100vw - 254px);
  }
}

.filtersVisiblitiy {
  padding: 0px;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  transition: 0.3s;

  .block {
    display: none;
    padding: 0;

    p {
      font-weight: 700;
      margin-bottom: 12px;
    }
  }
}

.add_filter {
  transition: ease-in 0.1s all;
  &:hover {
    color: #2d6ce5;
  }
}
.gridTable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper {
  padding: 8px 8px;
  display: flex;
  background-color: #fff;
  height: 100vh;
  width: 250px;
  border-right: 1px solid #eee;
  transition: 0.3s;

  .block {
    width: 100%;
    border-right: 0px solid #e3e3e3;

    p {
      font-weight: 700;
      margin-bottom: 12px;
    }
  }

  .table_box {
    width: calc(100vw - 254px);
  }
}

.wrapperVisible {
  display: flex;
  background-color: #fff;
  height: 100vh;
  width: 0px;
  transition: 0.3s;

  .filters {
    .block {
      padding: 8px;
      border-right: 0px solid #e3e3e3;

      p {
        font-weight: 700;
        margin-bottom: 12px;
      }
    }
  }

  .table_box {
    width: calc(100vw - 254px);
  }
}

.add_filter {
  transition: ease-in 0.1s all;
  &:hover {
    color: #2d6ce5;
  }
}
