.optionsTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #8F8E8B;
}

.viewOptionTitle {
  max-width: 105px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}

.viewOptionSubtitle {
  color: #667085;
  font-weight: 400; 
  font-size: 14;
}
