@use "/src/scss/colors";

.layout {
  display: flex;
}

.content {
  flex: 1;
  height: 100vh;
  overflow: auto;
  background-color: colors.$page-background;
  position: relative;
}

.tabsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e5e9eb;
  height: 56px;

  .leftSide {
    // max-width: ;
    // background-color: red;
    flex: 1;
    display: flex;
    overflow: auto;
  }

  .rightSide {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .tabComponent {
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: 7px;
    cursor: pointer;
    border-right: 1px solid #e5e9eb;
    color: colors.$grey;
    height: 49px;

    &.addButton {
      border: none;
    }

    &.active {
      background: #f6f8f9;
      color: colors.$primary;
    }

    &:hover {
      background: #f6f8f9;
      // border-bottom: 1px solid #E5E9EB;
    }

    .tabIcon {
      margin-right: 4px;
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

//

.noficationButton {
  position: relative;

  .notificationNum {
    position: absolute;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 50%;
    background: red;
    color: #fff;
    top: -5px;
  }
}

.notifyMenu {
  width: 240px;
  min-height: 140px;

  .notifyMenuContent {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #869bb9;
      border-radius: 10px;
    }
  }

  h2 {
    font-size: 16px;
    padding-left: 10px;
    // text-align: center;
    margin-top: 10px;
  }

  .notifyMenuItem {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
    color: #6e8bb7;
    margin-top: 5px;
  }
}

.notifyMenuItemEmpty {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  color: rgb(139, 155, 180);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  span {
    margin-top: 10px;
  }
}

.notifyMenuIndex {
  color: #000;
  font-size: 14px;
  margin-right: 10px;
}

.notifyTabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 20px;
  margin-top: 10px;

  .notifyTabsLinks {
    border: 1px solid #eee;
    border-bottom: none;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    .notificationNum {
      position: absolute;
      right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      font-size: 10px;
      border-radius: 50%;
      background: red;
      color: #fff;
      top: -5px;
    }
  }

  .notifyTabsLinksActive {
    border: 1px solid #eee;
    border-bottom: none;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 122, 255);
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 999 !important;

    .notificationNum {
      position: absolute;
      right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      font-size: 10px;
      border-radius: 50%;
      background: red;
      color: #fff;
      top: -5px;
    }
  }
}

.notifyPanels {
  overflow: auto;
  height: 160px;
  width: 100%;
}



.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .menusetting {
    min-width: 770px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      box-shadow: inset 0px -1px 0px #e5e9eb;
    }
  }

  .block {
    display: flex;
    align-items: center;



    .section {
      width: 50%;

      .card {
        padding: 16px;

        .group {
          display: flex;
          column-gap: 12px;
        }

        .radio {
          .active {
            width: 100%;
            height: 84px;
            padding: 16px;
            margin: 0;
            border-radius: 8px;
            border: 1px solid #2D6CE5;

            h4 {
              color: #FFF;
              font-size: 13px;
              font-weight: 500;
              padding: 4px 12px;
              background: #2D6CE5;
              border-radius: 4px;
              width: 80px;
            }

            p {
              color: #2D6CE5;
              font-size: 13px;
              font-weight: 500;
              margin-top: 12px;
            }

            span {
              &:nth-child(1) {
                display: none;
              }
            }
          }

          .inactive {
            width: 100%;
            height: 84px;
            padding: 16px;
            margin: 0;
            border-radius: 8px;
            border: 1px solid #F0F0F0;

            h4 {
              color: #A8A8A8;
              font-size: 13px;
              font-weight: 500;
              padding: 4px 12px;
              background: #F0F0F0;
              border-radius: 4px;
              width: 80px;
            }

            p {
              color: #A8A8A8;
              font-size: 13px;
              font-weight: 500;
              margin-top: 12px;
            }

            span {
              &:nth-child(1) {
                display: none;
              }
            }
          }
        }

        .text {
          color: #747474;
          font-size: 13px;
          font-weight: 500;
          margin-bottom: 12px;
        }

        .size {
          .active {
            width: 100%;
            height: 40px;
            padding: 12px 16px;
            margin: 0;
            border-radius: 8px;
            border: 1px solid #2D6CE5;

            p {
              color: #2D6CE5;
              font-size: 13px;
              font-weight: 500;
            }

            span {
              &:nth-child(1) {
                display: none;
              }
            }
          }

          .inactive {
            width: 100%;
            height: 40px;
            padding: 16px;
            margin: 0;
            border-radius: 8px;
            border: 1px solid #F0F0F0;


            p {
              color: #A8A8A8;
              font-size: 13px;
              font-weight: 500;
            }

            span {
              &:nth-child(1) {
                display: none;
              }
            }
          }
        }

        .theme {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .block {
            display: flex;
            align-items: center;
            column-gap: 12px;
          }

          .color {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            border: 1px solid #F0F0F0;
          }
        }

      }

    }

    .sidebarsection {
      width: 50%;
      background: #F0F0F0;
      display: flex;
      justify-content: center;


      .sidebar {
        padding: 6px;
        display: flex;
        padding-bottom: 0;
        max-height: 350px;
        align-items: flex-start;
        overflow: hidden;

        .menu {
          background: #fff;
          display: flex;
          flex-direction: column;
          justify-self: center;
          align-items: center;
          width: 100%;
          max-width: 55px;
          padding: 6px 0;
          border-top-left-radius: 6px;
          border-right: 1px solid #F0F0F0;

          .searchicon {
            padding: 6px;
            background: #F7F7F7;
            border-radius: 4px;
            width: 28px;
            height: 28px;
            margin-top: 7px;
            margin-bottom: 5px;
          }

          .element {
            padding: 7px 10px;
            cursor: pointer;
            border-radius: 4px;

            svg {
              // width: 15px;// height: 15px;
              color: #A8A8A8;
            }
          }
        }



        .submenu {
          background: #fff;
          width: 150px;
          border-top-right-radius: 6px;

          .submenuheader {
            padding: 12px 9px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              color: #2D6CE5;
              font-size: 9px;
              font-weight: 500;
            }
          }

          .search {
            display: flex;
            padding: 7px;
            column-gap: 6px;
            align-items: center;
            border-top: 1px solid #F0F0F0;
            border-bottom: 1px solid #F0F0F0;

            p {
              color: #A8A8A8;
              font-size: 9.886px;
              font-weight: 400;
            }

            svg {
              color: #A8A8A8;
            }
          }

          .element {
            display: flex;
            align-items: center;
            column-gap: 6px;
            padding: 7px 9px;

            svg {
              color: #747474;
            }

            p {
              color: #747474;
              font-size: 9.886px;
              font-weight: 400;
            }
          }
        }

        .modernmenu {
          background: #fff;
          display: flex;
          flex-direction: column;
          justify-self: center;
          width: 100%;
          max-width: 120px;
          padding: 6px;
          border-top-left-radius: 6px;
          border-right: 1px solid #F0F0F0;
          height: 100%;

          svg {
            &:nth-child(2) {
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }

          .element {
            display: flex;
            align-items: center;
            column-gap: 6px;
            padding: 7px 4px;

            p {
              color: #A8A8A8;
              font-size: 9.886px;
              font-weight: 400;
            }

            svg {
              width: 15px;
              height: 15px;
              color: #A8A8A8;
            }
          }
        }
      }
    }
  }
}