@use "/src/scss/colors";

.paper {
  margin-top: 5px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 1px rgba(26, 32, 36, 0.035))
    drop-shadow(0px 12px 24px rgba(91, 104, 113, 0.24));
  border-radius: 2px;
}

.menu {
  padding: 8px;
  min-width: 130px;
  max-width: 250px;
  border-radius: 8px;

  .scrollBlock {
    margin: 8px 0;
    max-height: 300px;
    overflow: auto;

    .option {
      display: flex;
      align-items: center;
      padding: 2px 0;
      cursor: pointer;

      &:hover {
        background-color: #e4e4e45c;
      }

      .label {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.tabs {
  .tablist {
    border-bottom: 0px solid #fff;
    display: flex;
    background-color: #eee;
    padding: 0 10px 5px;

    .tab {
      padding: 5px;
      font-size: 12px;
      list-style: none;
      cursor: pointer;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 200px;
  height: 210px;
  overflow-y: auto;
  font-family: sans-serif;
  padding: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.year {
  font-size: 12px;
  font-weight: 700;
  width: 48px;
  color: #3e4650;
  text-align: center;
}

.quarterButton {
  padding: 6px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.startQuarter {
  background-color: rgba(0, 123, 255, 0.2);
}

.endQuarter {
  background-color: rgba(0, 123, 255, 0.2);
}

.inRange {
  background-color: rgba(0, 123, 255, 0.2);
}

.hoveredRange {
  background-color: rgba(0, 123, 255, 0.2);
  transition: background-color 0.2s ease;
}
