

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
    // max-width: calc(100% - 250px);
    // width: calc(100% - 250px);
}

// .ce-toolbar__actions {
//   z-index: 10 !important;
//   left: ;
// }
