@use "/src/scss/colors";

.mainBlock {
  display: flex;
}

.redactorBlock {
  flex: 1;
  overflow: auto;

  &.hidden {
    display: none;
  }

  // display: flex;
  // flex-direction: column;
  // align-items: center;

  .pageBlock {
    width: 800px;
    margin: 0 auto;

    height: calc(100vh - 48px - 48px - 56px);
    overflow: auto;

    .pageSize {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #5b6871;
      padding: 10px 0;
    }
  }
}

.page {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e9eb;
  padding-left: 55px;
}

.docListBlock {
  width: 280px;
  background-color: #fff;
  height: calc(100vh - 48px - 48px);
  border-right: 1px solid #e5e9eb;

  .doclistHeader {
    padding: 10px 20px;
    border-bottom: 1px solid #e5e9eb;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .doclistHeaderTitle {
      font-size: 18px;
      font-weight: 600;
      color: #252c32;
    }
  }

  .docList {
    cursor: pointer;

    .row {
      padding: 10px 20px;
      border-bottom: 1px solid #e5e9eb;

      &:hover {
        background-color: #eef0f26c;
      }

      &.active {
        background-color: colors.$primary;
        color: #fff;
      }
    }

    .pageSizeRow {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      gap: 35px;


      &:hover {
        background-color: #eef0f26c;
      }

      &.pageSizeRowActive {
        background-color: colors.$primary;
        color: #fff;

        .pageSizeValue {
          color: #fff;
        }
      }

      .pageSizeValue {
        color: #6e7c87;
      }

      .documentIcon {
        background: #eef0f2;
        border-radius: 4px;
        padding: 6px;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
      }
    }
  }
}

.docSettingsBlock {
  width: 280px;
  background-color: #fff;
  height: calc(100vh - 48px - 48px);
  border-left: 1px solid #e5e9eb;
}
