.formSection {
  min-width: 400px;
  flex: 1;

  // .OneCviewForm {
  //   padding: 8px;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 16px;
  //   height: calc(100vh - 400px);
  //   overflow: auto;

  //   .section {
  //     border: 0;
  //     border-radius: 0;

  //     .sectionHeader {
  //       padding: 16px 12px;
  //       box-shadow: inset 0px -1px 0px #ebedee;
  //       display: flex;
  //       align-items: center;
  //       justify-content: space-between;

  //       .sectionTitle {
  //         font-weight: 700;
  //         font-size: 18px;
  //         line-height: 24px;
  //       }
  //     }

  //     .sectionBody {
  //       padding: 16px 12px;

  //       .formRow {
  //         display: flex;
  //         align-items: center;
  //         gap: 30px;

  //         fieldset {
  //           border-radius: 6px;
  //         }
  //       }
  //     }
  //   }
  // }
}

.viewForm {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.section {
  border: 0;
  border-radius: 0;
}

.sectionBody {
  padding: 0;
  padding-top: 16px;
}

.formRow {
  fieldset {
    border-radius: 6px;
  }
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 6px;
  gap: 5px;
}