.formSection {
  min-width: 400px;
  flex: 1;
}

.viewForm {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.section {
  border: 0;
  border-radius: 0;
}

.sectionBody {
  padding: 0;
  padding-top: 16px;
}

.formRow {
  fieldset {
    border-radius: 6px;
  }
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 6px;
  gap: 5px;
}


.tabs {
  height: 26px;
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: none;
  list-style: none;
}

.tab {
  // height: 100%;
  color: #667085;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  
  &.active {
    background-color: #007AFF !important;
    color: #fff !important;
  }
}