.FRow {
  display: flex;
  align-items: center;
  width: 100%;
  // max-width: 700px;
  margin-bottom: 10px;

  .label {
    width: 150px;
    transform: translateY(-13px);

    .requiredStart {
      color: red;
    }

    .labelInput {
      border: none;
      outline: none;
      min-width: 10px;
      width: auto;
      font-weight: bold;
      font-size: 13px;
    }
  }

  .component {
    flex: 1;
    padding-left: 30px;
  }

  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;


    .label {
      width: auto;
      transform: translateY(0);
      margin-bottom: 10px;
    }

    .component {
      padding: 0;
      width: 100%;
    }
  }


}
