.timelineRecursiveRowLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  border-radius: 6px;
  background-color: rgba(55, 53, 47, 0.06);
  cursor: crosshair;

  span {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  &.active {
    cursor: crosshair;
  }
}

.timelineRecursiveRowHint {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  column-gap: 5px;
  transform: translate(-50%, -100%);
  font-size: 10px;
}
