@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&family=Inter:wght@400;700&display=swap");

.tableView .ql-toolbar {
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
}
.tableView .ql-container.ql-snow {
  border: 0 !important;
}

.ql-font-roboto {
  font-family: "Roboto", sans-serif;
}

.ql-font-lato {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.ql-font-sans-serif {
  font-family: "sans-serif", sans-serif;
}

.ql-font-serif {
  font-family: "serif", serif;
}

.ql-font-monospace {
  font-family: "monospace", monospace;
}

/* Roboto Font */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  content: "Roboto";
  font-family: "Roboto", sans-serif; /* Ensure to specify the correct font stack */
}

/* Lato Light Font */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="lato-light"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lato-light"]::before {
  content: "Lato Light";
  font-family: "Lato Light", sans-serif; /* Ensure to specify the correct font stack */
}
