@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&family=Inter:wght@400;700&display=swap");

.tableView .ql-toolbar {
  min-width: 500px;
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
}
.tableView .ql-container.ql-snow {
  border: 0 !important;
}

.ql-font-roboto {
  font-family: "Roboto", sans-serif;
}

.ql-font-lato {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.ql-font-sans-serif {
  font-family: "sans-serif", sans-serif;
}

.ql-font-serif {
  font-family: "serif", serif;
}

.ql-font-monospace {
  font-family: "monospace", monospace;
}

/* Roboto Font */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  content: "Roboto";
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Lato Light Font */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="lato"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lato"]::before {
  content: "Lato";
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* San Francisco Font */
.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="san-francisco"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="san-francisco"]::before {
  content: "San Francisco";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
