.inputTable {
  outline: none;
  input {
    height: 35px;
    border: 0px solid #eee;
    padding: 3px;
    outline: none;
    background: transparent;

    &:focus {
      // border: 1px solid #1a9aef;
    }

    &:hover {
      outline: none;
    }
  }
}

.imageContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .ImageItem {
    width: 135px;
    height: 120px;
    border: 1px solid #ada9a9;
    border-radius: 5px;
    position: relative;
    transition: ease-in-out 0.4s;

    &:hover {
      .clearBtn {
        display: block;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .clearBtn {
      transition: ease-in-out 0.4s;
      position: absolute;
      top: 5px;
      right: 5px;
      background: none;
      border: none;
      cursor: pointer;
      display: none;
    }
  }
}

.addIcon {
  cursor: pointer;
}
