.dialogContent {
  height: calc(-100px + 100vh);
  max-height: 715px;
}

.content {
  display: flex;
  height: 100%;
}

.leftBarWrapper {
  width: 240px;
  flex-shrink: 0;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #fbfbfa;
  overflow: auto;
}

.leftBar {
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 12px;
}

.leftBarTitle {
  height: 24px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 1px;
  font-size: 12px;
  line-height: 1;
  color: rgba(55, 53, 47, 0.65);
}

.tabItem {
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 27px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(55, 53, 47, 0.06);
  }
}

.tabItem.active {
  background-color: rgba(55, 53, 47, 0.06);

  .tabItemTitle {
    font-weight: 500;
  }
}

.tabItemTitle {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(55, 53, 47);
}

.rightContent {
  flex-grow: 1;
  padding: 36px 60px;
  overflow: auto;
}

.profileIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.65);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
  outline: rgba(84, 72, 49, 0.08) solid 1px;
  outline-offset: -1px;
}

.addClientTypeBtn {
  width: 100%;
  padding: 4px 0;
  padding-left: 5px;
  border: none;
  border-radius: 4px;
  margin-top: 6px;
  background-color: transparent;
  color: #D0D5DD;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
}

.addIcon {
  color: rgb(55, 53, 47);
}
