.fieldLabel {
  .fieldTitle {
    font-weight: 500;
    font-size: 12px;
    color: #344054;
    margin-bottom: 6px;
  }
}

.numberField {
  width: 100%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 0 10px 0 15px;
}
