// <-- Summary Section --> //
.summarySection {
  // min-height: 20px !important;
  height: 92px;
  min-width: 234px;
  max-width: 800px;
  border-radius: 4px;
  overflow-y: hidden;
  display: flex;
  margin: 8px;

  ::-webkit-scrollbar {
    max-height: 10%;
    height: 10%;
  }
  .field_summary {
    width: 238px;
    height: 92px;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    // gap: 5px;
    background: #fff;
  }
  .field_summary_item {
    width: 238px;
    min-height: 20px !important;
    max-height: 92px;
    margin-top: 8px;
    background: #fff;
    padding: 5px 10px 16px 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    input {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #9aa6ac;
      background: none;
      text-transform: initial;
      width: 100%;
      border: none !important;
      outline: none;
    }
  }
}
