// <-- Summary Section --> //
.summarySection {
  min-height: 20px;
  min-width: 300px;
  max-width: 1200px;
  border-radius: 4px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  // margin: 8px 0;
  padding: 5px;

  &::-webkit-scrollbar {
    display: none;
  }

  .field_summary {
    min-width: 238px;
    max-height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    // gap: 5px;
    background: #fff;
    padding: 10px 0px 10px 16px;

    &:not(:last-child) {
      &::after {
        content: "";
        width: 1px;
        height: 60px;
        background: #e5e9eb;
      }
    }
  }
  .field_summary_item {
    width: 200px;
    // min-height: 20px !important;
    min-height: 60px;
    margin-top: 8px;
    background: #fff;
    padding: 5px 10px 10px 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    span {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 16px;
      font-weight: 700;
      height: 42px;
    }
    p {
      min-width: 70px;
      max-width: 100px;
      height: 42px;
      font-size: 12px;
      line-height: 24px;
      font-weight: 600;
      color: #9aa6ac;
      text-transform: initial;
    }

    input {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #9aa6ac;
      background: none;
      text-transform: initial;
      width: 100%;
      border: none !important;
      outline: none;
    }
  }
}
