

.mainArea {
  display: flex;
  padding: 8px;
  gap: 8px;

  .mainSide {
    flex: 1;
    min-height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.panel {
  width: 100%;
  height: 400px;
  background-color: #fff;
  box-shadow: 4px 4px 66px 0px rgba(34, 60, 80, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 6px;


  .title {
    width: 100%;
    padding: 12px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
  }

} 



.redactorPanel {
  display: flex;
  background-color: #fff;
  border-radius: 6px;


  .redactor {
    flex: 1;
    padding: 10px 0;
  }

  .toolbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

  }
}

.settingsPanel {
  width: 300px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #E5E9EB;

  // padding: 16px;

  .sectionButton {
    background: #F6F8F9;
    border-bottom: 1px solid #E5E9EB;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form {
    padding: 10px 24px;
    border-bottom: 1px solid #E5E9EB;
  }
}