.nameWrapper {
  margin-left: 20px;
}

.name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.65);
}

.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.65);
  background-color: rgba(55, 53, 47, 0.08);
}
