.title {
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
  margin-bottom: 16px;
  margin-top: 0px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  color: rgb(55, 53, 47);
}

.nameWrapper {
  margin-left: 20px;
}

.name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.65);
}

.nameInput {
  width: 250px;
  height: 28px;
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 6px;
  background-color: rgba(242, 241, 238, 0.6);
  padding: 4px 10px;

  &:focus {
    box-shadow: inset 0 0 0 1px #2383e291, 0 0 0 2px #2383e259 !important;
    outline: none;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(55, 53, 47, 0.06);
}

.avatarLetter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(55, 53, 47, 0.85);
  text-align: center;
  font-size: 26px;
}

.field {
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 6px;
  background-color: rgba(242, 241, 238, 0.6);
  padding: 4px 10px;

  &:focus {
    box-shadow: inset 0 0 0 1px #2383e291, 0 0 0 2px #2383e259 !important;
    outline: none;
  }
}

.label {
  display: flex;
  flex-direction: column;
  column-gap: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  font-weight: 400;
  color: rgb(29, 27, 22);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  margin-top: 24px;
}
