@use "/src/scss/colors";


.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20px;
  cursor: pointer;


  .icon {
    font-size: 28px;
    color: colors.$grey;


    &.active {
      color: colors.$primary;
    }


    &.up {
      // margin-bottom: -8px;
      transform: translateY(9px);
    }

    &.down {
      // margin-top: -7px;
      transform: translateY(-9px);
    }
  }

}