.item {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #F2F4F7;
  }
}

.item.active {
  background-color: #F2F4F7;
}

.value {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;  
  color: #8F8E8B;
}

.title {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;  
  color: #101828;
}

.arrow {
  transform: rotate(-90deg);
}

.content {
  min-width: 200px;
  max-height: 376px;
  position: absolute;
  right: calc(100% + 4px);
  overflow: auto;
  background-color: #fff;
  border: 1px solid #e5e9eb;
  border-radius: 8px;
  transform: translateY(-32px);
}
