.filtersBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: scroll;
  max-width: 1280px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  @media screen and (max-width: 1440px) {
    max-width: 950px;
  }
  @media screen and (max-width: 1340px) {
    max-width: 800px;
  }
  .filter {
    width: 180px;
  }
}

.paper {
  margin-top: 5px;
  // filter: drop-shadow(0px 0px 1px rgba(26, 32, 36, 0.065)) drop-shadow(0px 12px 24px rgba(91, 104, 113, 0.24));
}

.menu {
  padding: 0 !important;

  .scrollBlocksss {
    max-height: 350px;
    overflow-y: auto;
  }

  .menuItem {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    box-shadow: inset 0px -1px 0px #e5e9eb;
    min-width: 300px;
    gap: 8px;
    background-color: #fff;

    .dragIcon {
      cursor: grab;
    }

    .itemText {
      flex: 1;
    }
  }
}
