.btn {
  width: 28px;
  height: 28px;
  min-width: auto;
  padding: 5px;
}

.input {
  width: 100%;
  height: 32px;
  padding-left: 8px;
  padding-right: 64px;
  border-radius: 8px;
  border: 1px solid #EAECF0;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #101828;
}

.input.leftContent {
  padding-left: 32px;
}

.languageBtnInner {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 2px 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #F2F4F7;
  border-radius: 6px;
  text-transform: uppercase;
}
