@use "/src/scss/colors";

.autocompleteWrapper {
  position: relative;


  .createButton {
    position: absolute;
    right: 0;
    top: -28px;
    color: #1990FF;
    cursor: pointer;
    background-color: #c0c0c039;
  }
}

.multipleAutocompleteTags {
  padding: 3px 6px;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
  color: #000;
  background-color: rgba(192, 192, 192, 0.224);

  .value {
    margin-right: 4px;
  }
}

.valuesWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.barcode_input {
  background: rgba(192, 192, 192, 0.224);
  width: 244px;
  height: 35px;
  padding: 8.5px 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 0 10px 0;
  &:focus {
    outline: none;
  }
}
.barcode_layer {
  position: relative;
  
  .barcode_generate {
    position: absolute;
    top: -25px;
    right: 50px;
    background: none;
    border: none;
    font-size: 13px;
    color:#1990FF;
    cursor: pointer;
  }
  .barcode_print {
    position: absolute;
    top: -25px;
    right: 0px;
    background: none;
    border: none;
    font-size: 13px;
    color:#1990FF;
    cursor: pointer;
  }
}
