@use "/src/scss/colors";

.autocompleteWrapper {
  position: relative;


  .createButton {
    position: absolute;
    right: 0;
    top: -28px;
    color: #1990FF;
    cursor: pointer;
    background-color: #c0c0c039;
  }
}

.multipleAutocompleteTags {
  padding: 3px 6px;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
  color: #000;
  background-color: rgba(192, 192, 192, 0.224);

  .value {
    margin-right: 4px;
  }
}

.valuesWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}