.row {
  &:hover td {
    background: none !important;
  }
}

.tag {
  padding: 4px 0;
  text-align: center;
  border-radius: 6px;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  color: #fff;

  span {
    position: absolute;
    right: 5%;
    bottom: 0;
  }
}

.searchInput {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  border: 1px solid rgba(55, 53, 47, 0.16);
  background-color: #fff;
  padding: 4px 10px;
  height: 100%;
  border-radius: 0;
  border: none;
  outline: none;
}

.activity {

  .header {
    padding: 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftside {
      display: flex;
      align-items: center;
      column-gap: 16px;

      .foldericon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f6fa;
        border-radius: 50%;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .rightside {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .createicon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f6fa;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: #d8d9db;
          transition: 0.5s;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .deleteicon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f6fa;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: #e35169;
          color: #fff;
          transition: 0.5s;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .addicon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #007aff;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: #005fc4;
          transition: 0.5s;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .itemtitle {
        color: #a2b5cd;
      }
    }
  }

  .filter_block {
    display: flex;
    padding-bottom: 12px;
    justify-content: flex-end;

    .side {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }
}

.drawer {
  .addicon {
    position: absolute;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007aff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    left: -76px;
    top: 24px;

    &:hover {
      background: #005fc4;
      transition: 0.5s;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .header {
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftside {
      display: flex;
      align-items: center;
      column-gap: 16px;

      .foldericon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f6fa;
        border-radius: 50%;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .rightside {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .createicon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f6fa;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: #d8d9db;
          transition: 0.5s;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .deleteicon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f6fa;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: #e35169;
          color: #fff;
          transition: 0.5s;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .addicon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #007aff;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: #005fc4;
          transition: 0.5s;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .itemtitle {
        color: #a2b5cd;
      }
    }
  }

  .content {
    padding: 0 32px 32px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    h6 {
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      margin-bottom: 6px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }

    .promise {
      display: flex;
      align-items: start;
      column-gap: 24px;

      .promise_card {
        position: relative;

        .copy {
          position: absolute;
          z-index: 9999999;
          right: 10px;
          top: 40px;

          &:hover {
            border-color: #fff !important;
          }

          svg {
            fill: #fff;
          }
        }
      }

      h6 {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        margin-bottom: 12px;
      }
    }
  }
}

.tableHeadCell {
  color: #475467;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.tBodyCell {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}