

.wrapper {
  padding: 16px;

  .card {
    

    .header {
      box-shadow: inset 0px -1px 0px #E5E9EB;
      padding: 6px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}