.field {
  height: 32px;
  border-left: none;

  & > div {
    padding-left: 6px;
  }
}

.langButton {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.langButtonInner {
  display: flex;
  column-gap: 6px;
  align-items: center;
}
