.fieldSearchContainer {
  position: relative;

  span {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fieldSearch {
  height: 35px;
  width: 100%;
  padding-left: 28px;
  border: 1px solid rgb(212, 210, 210);
  border-radius: 8px;
}
