.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .card {
    min-width: 1000px;
    padding: 32px;
    border: none;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .cardTitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }


      .closeIcon {
        font-size: 28px;
      }
    }

    .loader {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 60px;
    }

    .body {
      height: calc(100vh - 300px);
      overflow: auto;
      

      .formWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        
        &.oneColumn {
          grid-template-columns: 1fr;
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 24px;

      .button {
        flex: 1;
      }
    }
  }
}
