.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  margin-bottom: 6px;
}

.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #8F8E8B;
}
