.video_wrapper {
  display: flex;
  flex-direction: column;
  .video_block {
    position: relative;
    video {
      border-radius: 3px;
    }
    div {
      border: 1px solid #333;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 3px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .uploading_status {
    font-size: 12px;
    .progress {
      height: 18px;
      width: 140px;
      border-radius: 3px;
      background-color: #89cff0;
      position: relative;
      color: #fff;
      div {
        border-radius: 3px;
        height: 100%;
        width: 0%;
        transition: all 0.3s ease;
        background-color: #034694;
      }
      &::after {
        content: attr(percent);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 70px;
        text-align: center;
      }
    }
  }
}
