.btn__action{
  border: 1px solid #e5e9eb;
  min-width: 28px;
  height: 28px;
  padding-right: 0;
  padding-left: 0;
  color: #4094F7;
}
.btn_material, .btn_material_add{
  text-transform: none;
}

.btn_material_add{
  color: #1AC19D;
}