.react_tab {
  border-bottom: none !important;
  .reactTabItem {
    border-bottom: none;
    padding: 2px 8px;
    border-bottom: none;
    color: #667085;
  }

  .reactTabIteActive {
    border-bottom: none;
    padding: 2px 8px;
    background: #fff;
    border-radius: 6px;
    color: #000;
    box-shadow: 0 1px 2px #1018280f;
  }
}
