.label {
  display: flex;
  flex-direction: column;
  column-gap: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  font-weight: 400;
  color: rgb(29, 27, 22);
}

.field {
  width: 250px;
  height: 28px;
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 6px;
  background-color: rgba(242, 241, 238, 0.6);
  padding: 4px 10px;

  &:focus {
    box-shadow: inset 0 0 0 1px #2383e291, 0 0 0 2px #2383e259 !important;
    outline: none;
  }
}
