.table_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  .table_btn_icon {
    padding: 9.5px;
    border: 1px solid #e5e9eb;
    border-radius: 50%;
  }
  .table_btn_edit {
    display: block;
    &:hover {
      display: none;
    }
  }
}

.detail_holder {
  margin: 8px;
  > div {
    margin-bottom: 8px;
  }
  .info_card {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .login_card {
    .add_login_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      width: 100%;
      background-color: #fff;
      color: #0e73f6;
      border: 1px dashed rgba(110, 139, 183, 0.5);
      border-radius: 6px;
      padding: 8px;
      cursor: pointer;
    }
    .create_client {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 4px;
      width: 100%;
      background-color: #fff;
      color: #0e73f6;

      button {
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
      }

      .login_cancel_btn {
        background-color: #fff;
        color: rgb(255, 33, 33);
        border: 1px solid #e5e9eb;
      }
      .login_create_btn {
        background-color: #0e73f6;
        color: #fff;
        border: 1px solid #0e73f6;
      }
    }
  }
}

.card_holder {
  border: 1px solid #e5e9eb;
  border-radius: 6px;
  margin-bottom: 12px;
  .card_header {
    padding: 12px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e9eb;
    .card_header_title {
      font-size: 16px;
      font-weight: 600;
    }
    .card_header_left {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      gap: 12px;
      white-space: nowrap;
    }
    .card_header_right {
      cursor: pointer;
      border: 1px solid #e5e9eb;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 6px;
    }
  }
  .card_body {
    .card_body_head {
      display: flex;
      align-items: center;
      padding: 12px 8px;
      border-bottom: 1px solid #e5e9eb;
      > div {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
    .card_body_items {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 12px 8px;
      > div {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  // margin-bottom: 16px;

  > button {
    flex-basis: 50%;
    justify-content: center;
    border: 1px solid #e5e9eb;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
  }
  .cancel_btn {
    background-color: #fff;
    color: rgb(255, 33, 33);
    border: 1px solid #e5e9eb;
  }
  .craete_btn {
    background-color: #0e73f6;
    color: #fff;
    border: 1px solid #0e73f6;
  }
}
