.form {
  height: 100%;
  // margin-top: 24px;

  .label {
    color: #344054;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 16px;
  }
}

.headerContent {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.formArea {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.footerContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
}

.buttonsArea {
  display: flex;
  gap: 10px;
}

.dialogContainer {
  max-width: 500px;
  max-height: calc(100vh - 150px);
  min-height: 200px;
  border-radius: 12px;
  background-color: #fff;
}

.primaryButton {
  background-color: #1976d2;
  color: #fff;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 14px;

  &:hover {
    background-color: #155a9e;
  }
}

.cancelButton {
  background-color: #ff5a5f;
  color: #fff;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 14px;

  &:hover {
    background-color: #d04648;
  }
}

.dialogSelect {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
}

.githubLoginBtn {
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: #344054;
    font-weight: 600;
    font-size: 14px;
  }
}

.title {
  text-align: center;
  font-size: 24px;
  color: #101828;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  color: #475467;
}

.otpBackBtn {
  position: absolute;
  left: -40px;
  top: -35%;
  z-index: 999;
  width: 106px;
  height: 44px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 16px;
  color: #344054;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.otpBackBtnFirebase {
  position: absolute;
  left: -40px;
  top: -65%;
  z-index: 999;
  width: 106px;
  height: 44px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 16px;
  color: #344054;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
