.imageContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  //   justify-content: center;
  gap: 20px;

  .ImageItem {
    width: 135px;
    height: 120px;
    border: 1px solid #ada9a9;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
