.imageContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .ImageItem {
    width: 135px;
    height: 120px;
    border: 1px solid #ada9a9;
    border-radius: 5px;
    position: relative;
    transition: ease-in-out 0.4s;

    &:hover {
      .clearBtn {
        display: block;
        width: 50px !important;
        transition: ease-in-out 0.4s;
      }
      .fullBtn {
        opacity: 1;
        transition: all 0.5s;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .clearBtn {
      transition: ease-in-out 0.4s;
      position: absolute;
      top: 5px;
      right: 0px;
      background: none;
      border: none;
      cursor: pointer;
      display: none;
      z-index: 99;
    }

    .fullBtn {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      color: #ffff;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
