.valuesWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.multipleAutocompleteTags {
  padding: 6px;
  border-radius: 4px;
}

.value {
  line-height: 1;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
