
.settingsBlock {
  width: 450px;
  min-width: 450px;
  background-color: #fff;
  border-left: 1px solid #E5E9EB;

  .settingsBlockHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 16px;
    border-bottom: 1px solid #E5E9EB;
    border-top: 1px solid #E5E9EB;
    background-color: #F6F8F9;;

  }

  .settingsBlockBody {
    height: calc(100vh - 56px - 56px - 48px);
    overflow: auto;
  }

  .settingsFooter {
    padding: 8px;
    position: sticky;
    bottom: 0;
    background-color: #fff;
  }
}

.summaryButton {
  display: flex;
  margin-top: 8px;
  
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px dashed #6E8BB780;
    padding: 8px 16px;
    flex-grow: 1;
  }
}

.draggableRow {
  border-bottom: 1px solid #E5E9EB;
  padding: 0px 16px;
  display: flex;
  align-items: center;

  .dragButton {
    cursor: grab;
  }

  .label {
    flex: 1;
  }
}