.summary {
  border: 1px solid #eaeaea;
  .summaryTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
  }
}
.summaryBottom {
  padding: 16px;
  .summaryItem {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.summaryButton {
  display: flex;
  margin-top: 8px;
  
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px dashed #6E8BB780;
    padding: 8px 16px;
    flex-grow: 1;
  }
}
