@use "/src/scss/colors";

.rmdp-border-right {
  border-right: none !important;
}

.rmdp-day span {
  border-radius: 50%;
}

.rmdp-day.rmdp-selected span {
  box-shadow: none;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: colors.$primary;
  box-shadow: none;
}

.rmdp-day.rmdp-today span {
  background-color: #fff;
  color: colors.$primary;
  // border: 1px solid colors.$primary;
}

rmdp-day.rmdp-today.highlight span {
  background-color: #fff;
  color: colors.$primary;
  // border: 1px solid colors.$error;
}

.rmdp-week-day {
  color: colors.$primary-hover;
}

.rmdp-header-values span{
  font-weight: 500;
  font-size: 24px;
  color: colors.$primary;

  &:hover {
    color: colors.$primary-hover;
  }
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #fff;
  border: 1px solid colors.$primary;
  color: colors.$primary;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) .highlight-red:hover {
  background-color: #fff;
  border: 1px solid #CC0402;
  color: #CC0402;
}

.rmdp-calendar {
  padding: 30px !important;
  padding-bottom: 0px !important;
}


// ===================DATE PICKER================

.datePicker {

  .rmdp-calendar {
    padding: 15px 40px !important;
    // padding-bottom: 0px !important;
  }


}



// =================CALENDAR======================


.Calendar {
  .rmdp-wrapper {
    width: 100%;
    margin-bottom: 10px;

    .rmdp-calendar {
      width: 100%;

      .rmdp-day-picker > div {
        width: 100%;
      }
    }
  }
}