@use "/src/scss/colors";

.rmdp-border-right {
  border-right: none !important;
}

.rmdp-day span {
  border-radius: 50%;
}

.rmdp-day.rmdp-selected span {
  box-shadow: none;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: colors.$primary;
  box-shadow: none;
}

.rmdp-day.rmdp-today span {
  background-color: #fff;
  color: colors.$primary;
  // border: 1px solid colors.$primary;
}

rmdp-day.rmdp-today.highlight span {
  background-color: #fff;
  color: colors.$primary;
  // border: 1px solid colors.$error;
}

.rmdp-week-day {
  color: colors.$primary-hover;
}

.rmdp-header-values span{
  font-weight: 500;
  font-size: 24px;
  color: colors.$primary;

  &:hover {
    color: colors.$primary-hover;
  }
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #fff;
  border: 1px solid colors.$primary;
  color: colors.$primary;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) .highlight-red:hover {
  background-color: #fff;
  border: 1px solid #CC0402;
  color: #CC0402;
}

.rmdp-calendar {
  padding: 30px !important;
  padding-bottom: 0px !important;
}


// .rmdp-header {
//   height: 70px !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-bottom: 1px solid colors.$borders;
//   margin: 0 !important;
//   padding: 0 !important;
//   padding-top: 5px !important;
//   // background-color: colors.$primary;
//   // color: #fff !important;
// }