.body {
  max-height: 360px;
  overflow: auto;
}

// .iconBox {
//   width: 32px;
//   height: 32px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-shrink: 0;
//   border: 1px solid #EAECF0;
//   border-radius: 8px;
// }

.treeView {
  border: 1px solid #EAECF0;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.addInput {
  width: 100%;
  height: 32px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  padding: 6px;
  
  &:focus {
    outline: none;
    border: 1px solid #2970FF;
  }
}

.fieldKey {
  height: 32px;
}

.fieldInput > div {
  padding-left: 6px;
}
