.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #8F8E8B;
}

.iconBox {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
}

.treeView {
  border: 1px solid #EAECF0;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.addInput {
  width: 100%;
  height: 36px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  padding: 6px;
  
  &:focus {
    outline: 1px solid #2970FF;
  }
}
