.rangeContainer {
  display: flex;
  column-gap: 1px;
}

.rangeBtn {
  padding: 3px;
  border: 1px solid #E5E9EB;
  border-radius: 6px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.time {
  width: 100px;
  display: flex;
  justify-content: center;
  padding: 3px;
  border: 1px solid #E5E9EB;
  border-radius: 6px;
  font-size: 14px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dateText {
  font-size: 1.25rem;
}