.titleInput {

  input {
    border: none !important;
    padding: 0;

    &:focus-visible {
      box-shadow: none !important;
    }
  }

  fieldset {
    border: none !important;
    color: #000000;
  }
}

.endpoint {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  height: calc(100vh - 50px);

  .body {
    width: 100%;
    border-right: 1px solid #E5E9EB;
    height: 100%;



    .title {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      align-items: center;

      .descInput {
        input {
          border: none !important;
          padding: 0;

          &:focus-visible {
            box-shadow: none !important;
          }
        }
      }

      h3 {
        font-weight: 600;
        font-size: 20px;
        color: var(--heading-color);
      }

      &>div {
        width: 162px;
      }
    }

    .api {
      display: flex;
      gap: 16px;
      padding: 15px;
      justify-content: space-between;

      &>div {
        width: 162px;
      }

      .url {
        display: flex;
        width: max-content !important;



        &>div {

          &:nth-child(1) {
            input {
              width: 100%;
              min-width: 200px;


            }

            fieldset {
              border-top-left-radius: 10px;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 10px;
              border-top-right-radius: 0;


              &:focus-visible {
                box-shadow: none !important;
                border: none !important;
                z-index: 0;
              }
            }
          }

          &:nth-child(2) {
            input {
              width: 100%;
              min-width: 140px;

              &:focus-visible {
                box-shadow: none;
                border: none;
                z-index: 0;
              }
            }

            fieldset {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              border-bottom-right-radius: 10px;
              border-top-right-radius: 10px;
            }
          }
        }
      }
    }

    p {
      font-weight: 500;
      padding: 0 15px;
    }

    .headers {
      border: 1px solid #E5E9EB;
      border-radius: 6px;
      margin: 15px;

      &:last-child {
        border-bottom: 0;
      }

      .element {
        padding: 20px 16px;
        border-bottom: 1px solid #E5E9EB;
        display: grid;
        grid-template-columns: 1fr 4fr;

        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          padding: 0;
        }

        .params {
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          button {
            cursor: text;
            padding: 5px;
            border-radius: 6px;

            &:hover {
              background-color: #F9F8F8;
              border: 1px dashed #333;
            }
          }

          .actions {
            display: flex;
            justify-content: end;
            gap: 5px;

            button {
              cursor: pointer;

              &:hover {
                color: #007AFF;
                background-color: #fff;
                border: 0;
              }
            }
          }
        }

        .forms {
          display: grid;
          grid-template-columns: 6fr 1fr;
          row-gap: 8px;
          column-gap: 16px;

          &:last-child .form {
            border-bottom: none !important;
          }

          .form {
            .top {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 8px;
              margin-bottom: 12px;
            }

            margin-bottom: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid #e5e5e5;
          }

          .actions {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 30px;

            svg {
              cursor: pointer;
            }
          }
        }
      }
    }


    .examples {
      padding: 15px;


      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        padding: 0;
        margin: 8px;
      }

      .addButton {
        padding: 5px;
        margin-left: 8px;

        &:hover {
          color: #007AFF;
        }
      }

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E5E9EB;
        padding: 4px 0;

        .actions {
          display: flex;
          gap: 5px;

          svg {
            cursor: pointer;

            &:hover {
              color: #007AFF;
            }
          }
        }

        .type {
          min-width: 160px;
          width: 160px;
        }
      }

      &:first-child>div {
        display: block;
        padding: 12px;
        background: #F9F8F8;
        border-radius: 6px;
        width: 100%;
        border: 1px solid #E5E9EB;

        ul {
          align-items: center;
          column-gap: 8px;

          svg {
            &:hover {
              color: #007AFF;
              cursor: pointer;
            }
          }
        }

        li {
          padding: 8px;
        }
      }
    }

    .results {
      padding: 15px;

      &:nth-child(2)>div {
        display: block;
        padding: 12px;
        background: #F9F8F8;
        border-radius: 6px;
        width: 100%;
        border: 1px solid #E5E9EB;

        ul {
          align-items: center;
          column-gap: 8px;

          svg {
            &:hover {
              color: #007AFF;
              cursor: pointer;
            }
          }
        }

        li {
          padding: 8px;
        }
      }

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        padding: 0;
        margin-bottom: 8px;
      }

      .ok {
        background-color: #1FC53E;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
      }

      .error {
        background-color: #CC0905;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
      }

      .addButton {
        padding: 5px;
        margin-left: 8px;

        &:hover {
          color: #007AFF;
        }
      }

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E5E9EB;
        padding: 4px 0;


        .actions {
          display: flex;
          gap: 10px;
          width: 30%;
          align-items: center;

          .code {
            width: 100% !important;
          }

          svg {
            &:hover {
              color: #007AFF;
              cursor: pointer;
            }
          }
        }

        .type {
          min-width: 160px;
          width: 160px;
        }
      }
    }
  }
}

.radio {
  input {
    position: static !important;
  }
}

.detail {
  // width: 60%;
  padding: 24px;

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.014em;
    color: #000000;
    display: flex;
    align-items: center;
    column-gap: 8px;

    button {
      margin-right: 5px;
    }
  }

  .cards {
    border-radius: 6px;

    .fields {
      margin-bottom: 34px;

      .pathTitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.006em;
        color: #1B1B1B;
      }

      .element {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .card {
          padding: 8px 16px;
          background: #F9F9F9;
          border: 1px solid #EFEFEF;
          border-radius: 8px;
          width: 100%;
          max-width: 600px;

          .section {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 8px;

            .desc {
              display: flex;
              column-gap: 8px;
              margin-bottom: 16px;

              p {
                &:first-child {
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: -0.006em;
                  color: #1B1B1B;
                }

                &:nth-child(2) {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: -0.006em;
                  color: #1B1B1B;
                }

                &:nth-child(3) {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: -0.006em;
                  color: #CC0905;
                }
              }
            }

            .input {
              background: #fff;
            }
          }
        }


        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          padding: 0;
        }


      }
    }

    .responses {
      margin-bottom: 34px;

      .element {
        margin-top: 8px;



        .card {
          padding: 8px 16px;
          background: #F9F9F9;
          border: 1px solid #EFEFEF;

          &:hover {
            background: #EFEFEF;
            transition: .5s;
            cursor: pointer;
          }

          &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          display: flex;
          justify-content: space-between;
          align-items: center;

          .desc {
            display: flex;
            column-gap: 6px;
            align-items: center;

            span {
              display: block;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }
          }

          .code {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.006em;
            color: #585858;

          }

          .input {
            background: #fff;
          }
        }

        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          padding: 0;
        }


      }
    }
  }

  .method {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    border-bottom: 1px solid #E5E9EB;
    margin-bottom: 30px;
    column-gap: 8px;
    row-gap: 16px;

    &>div {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    span {
      width: 100%;
      max-width: 60px;
      height: 100%;
      min-height: 28px;
      background: #00A872;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 31px;
      color: #fff;
    }
  }


}

.request {
  padding: 24px;
  border-left: 1px solid #E5E9EB;
  height: 100%;
  // width: 40%;

  .redactor {
    padding: 16px;
    border-radius: 16px;
    background: #282c34;
    margin-bottom: 34px;

    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.006em;
      text-transform: uppercase;
      color: #FEFFFF;
    }

    .type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      margin-bottom: 8px;
      border-bottom: 1px solid #FFFFFF0A;
    }

    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      margin-top: 8px;
      border-top: 1px solid #FFFFFF0A;
    }
  }

  .response {
    padding: 16px;
    border-radius: 16px;
    background: #F9F9F9;
    margin-bottom: 34px;
    margin-top: 24px;


    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.006em;
      text-transform: uppercase;
      color: #1B1B1B;
    }

    .example {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      margin-bottom: 8px;
      border-bottom: 1px solid #F9F9F9;

      .select {
        width: 34%;
        background: #fff;
        padding: 0 5px;
        border-radius: 8px;
      }

      .desc {
        display: flex;
        align-items: center;

        svg {
          fill: #1b1b1b;
        }
      }
    }

    .action {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      .result {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 48px;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 6px;

          &:nth-child(2) span {
            background: #CC0905;
          }

          span {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #1FC53E;
          }
        }
      }
    }
  }

  .query {
    display: flex;
    align-items: center;
    margin-top: 8px;

    span {
      background: #F0F0F0;
      padding: 16px;
      color: #1B1B1B;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    input {
      border-radius: 0;
      width: 80%;
      height: 52px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .tabs {
    margin-top: 10px;

    .tab {
      padding: 20px;
      border-bottom: 0;
      margin-bottom: 10px;
      border-radius: 16px;
      cursor: pointer;
      border: 1px solid #fff;

      &::marker {
        color: #fff;
      }
    }

    .active {
      background: #fff;
      border: 1px solid #E5E9EB;
      border-radius: 16px;
      margin-bottom: 10px;
      padding: 20px;
      cursor: pointer;
    }

  }

}


.titleInput {
  input {
    border: none !important;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.014em;
    color: #000000;

    &:focus-visible {
      box-shadow: none !important;
    }
  }
}

.json {
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 360px;
  overflow-x: auto;
}


.auth {
  display: flex;
  flex-direction: column;
  padding: 15px;
  min-width: 300px;

  .switch {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 16px;

    label {
      margin: 0;
    }
  }

  p {
    padding: 0 !important;
  }
}

.create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 8px;
}