.tableCells {
    margin: 0px 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collapse {
    margin-top: 20px;
    cursor: pointer;
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.dialog {
    &::-webkit-scrollbar {
      width: 40px;
    }
  }
  
  .shareContent {
    padding: 15px;
    height: 650px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(99, 99, 148);
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(99, 99, 148);
      }
  }
  