@use "/src/scss/colors";

.tag {
  padding: 0 10px;
  background-color: colors.$borders;
  border-radius: 6px;
}

.placeholder {
  color: #909eab;
  font-weight: 400;
}

.multipleAutocompleteTags {
  padding: 3px 6px;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
  color: #000;
  background-color: #c0c0c039;

  .value {
    margin-right: 4px;
  }
}

.valuesWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  pointer-events: none;
}

.dialog {
  width: 350px;
  height: 260px;
  padding: 20px;
  z-index: 666;

  h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .dialog_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .color_picker {
    width: 90px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon_picker {
    width: 90px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form_control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 10px;
  }

  .input_control {
    width: 140px;
    min-height: 30px;
    margin: 0 10px 5px;

    &:nth-child(2) {
      margin-right: 20px;
    }
  }

  .submit_btn {
    width: 120px;
    height: 34px;
    margin-left: auto;
    margin-right: 20px;
  }
}

.btn_loader {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.numberField {
  padding: 8.5px 14px;
  width: 100%;
  border: 1px solid #d4d2d2;
  border-radius: 4px;
}

.phoneNumber {
  outline: none;
  input {
    height: 35px;
    border: 1px solid #eee;
    padding: 3px;
    outline: none;
    background: transparent;

    &:focus {
      // border: 1px solid #1a9aef;
    }

    &:hover {
      outline: none;
    }
  }
}

.inputTable {
  outline: none;
  input {
    height: 35px;
    border: 0px solid #eee;
    padding: 3px;
    outline: none;
    background: transparent;

    &:focus {
      // border: 1px solid #1a9aef;
    }

    &:hover {
      outline: none;
    }
  }
}

.mapField {
  width: 520px;
  height: 480px;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.programmingLanguage {
  padding: 5px 10px;
  &:hover {
    background: #eee;
  }
}

.programmingLanguageActive {
  background: #eee;
  padding: 5px 10px;
  &:hover {
    background: #eee;
  }
}

.inputDesign {
  display: none !important;
}

.inputTable {
  outline: none;
  input {
    height: 35px;
    border: 0px solid #eee;
    padding: 3px;
    outline: none;
    background: transparent;

    &:focus {
      // border: 1px solid #1a9aef;
    }

    &:hover {
      outline: none;
    }
  }
}
.phoneNumberLogin {
  outline: none;
  input {
    height: 44px;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 3px;
    outline: none;
    background: transparent;
    font-size: 16px;

    &:hover {
      outline: none;
    }
  }
}

.mapField {
  width: 520px;
  height: 480px;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.programmingLanguage {
  padding: 5px 10px;
  &:hover {
    background: #eee;
  }
}

.programmingLanguageActive {
  background: #eee;
  padding: 5px 10px;
  &:hover {
    background: #eee;
  }
}

.phone_input {
  input {
    padding-left: 50px;
  }
  .PhoneInputCountry {
    display: none;
  }
}

.linkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.moneyBtn {
  display: flex;
  align-items: center;
  background: inherit;
  border: none;
  cursor: pointer;
  height: 40px;
  border-left: 1px solid #eee;

  div {
    min-width: 45px;
    width: 45px;
  }
}

.selectGroup {
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
}

.optionField {
  font-size: 12.8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 6px 0;
  text-align: center;
  background: #eee;
  width: fit-content;
  margin-left: 15px;

  &:hover {
    background: #eee;
  }
}

.statusSelect {
  height: 26px;
  fieldset {
    display: none !important;
  }
}

.mapText {
  max-width: 250px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: relative;
  padding-right: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkBtn {
  display: flex;
}