.row {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 0 8px;

  &:first-child {
    padding-top: 8px;
  }

  &:last-child {
    padding-bottom: 8px;
  }

  .label {
    font-weight: bold;
  }

  .image {
    border-radius: 6px;
  }
}

.photorow {
  .label {
    font-weight: bold;
  }
}