.row {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 8px;
  padding: 0 8px;

  &:first-child {
    padding-top: 8px;
  }

  &:last-child {
    padding-bottom: 8px;
  }

  .label {
    font-weight: bold;
  }

  .image {
    border-radius: 6px;
  }
}

.rowWrapper {
  position: relative;
  padding: 8px 8px 0;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.rowHint {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  pointer-events: none;
  border-radius: 6px;
  background: rgb(15, 15, 15);
  backdrop-filter: none;
  max-width: calc(-24px + 100vw);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  overflow: hidden;
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
  white-space: nowrap;
}

.rowWrapper:hover .rowHint {
  display: block;
}

.rowHint.left {
  left: auto;
  right: 100%;
  bottom: auto;
  top: 0;
}

.rowHint.right {
  left: 100%;
  right: auto;
  bottom: auto;
  top: 0;
}

.value {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.photorow {
  .label {
    font-weight: bold;
  }
}