.row {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  padding: 0 8px;

  &:first-child {
    padding-top: 8px;
  }

  &:last-child {
    padding-bottom: 8px;
  }

  .label {
    font-weight: bold;
  }

  .image {
    border-radius: 6px;
  }
}

.value {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.photorow {
  .label {
    font-weight: bold;
  }
}