@use "/src/scss/colors";

.layout {
  width: 100wv;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .logoBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 72px;
  }
}
