@use "/src/scss/colors";

.paper {
  margin-top: 10px;
  width: 220px;
}

.menu {
  padding: 10px;
}

.filterWrapper {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterIcon {
  font-size: 20px !important;
  color: colors.$grey;
  // transform: translateY(10px);
  
}

