

.paper {
  margin-top: 10px;
  width: 220px;
}

.menu {
  padding: 10px;
}

.filterWrapper {
  white-space: nowrap;
  margin-left: auto;
}

.filterIcon {
  transform: translateY(3px);
  margin-left: 10px;
}

