@use "/src/scss/colors";

.page {
  display: flex;
  padding: 16px;
  gap: 20px;

  .fieldCard {
    width: 400px;
    border-radius: 6px;
    z-index: 2;
    

    .fieldCardHeader {
      box-shadow: inset 0px -1px 0px #e5e9eb;
      padding: 10px 20px;
    }

    .fieldsWrapperBlock {
      padding: 8px;
      // max-height: calc(100vh - 140px);
      // overflow: auto;
    }
  }

  .fieldsBlock {
    width: 400px;
    // top: 56px;
    height: calc(100vh - 90px);
    overflow: auto;


    .fieldsBlockCard {
      
    }

    .fieldsWrapperBlock {
    }

    .fieldRow {
      width: 100%;
      padding: 8px 16px;
      border: 1px dashed colors.$primary;
      border-radius: 6px;
      margin: 10px 0;
      cursor: grab;
      background-color: #fff;

      .fieldRowLabel {
        font-weight: 500px;
      }
    }
  }

  .sectionsBlock {  
    flex: 1;
    height: calc(100vh - 90px);
    overflow: auto;

    .sectionCard {
      border-radius: 6px;
      margin-bottom: 15px;

      .sectionCardHeader {
        box-shadow: inset 0px -1px 0px #e5e9eb;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f6f8f9;
      }

      .sectionCardBody {
        padding: 16px;
        display: flex;
        gap: 60px;

        .sectionCardColumn {
          flex: 1;
        }

        .sectionCardRow {
          background-color: #fff;
          cursor: grab;
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }


    .sectionCreateCard {
      padding: 16px;
      

      .sectionCreateButton {
        width: 100%;
        border-radius: 6px;
        border: 1px dashed rgba(110, 139, 183, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 16px;
        line-height: 24px;
        color: colors.$primary;
        cursor: pointer;
        font-weight: 500;

        &:hover {
          border-color: colors.$primary;
        }
      }

    }
  }
}

.sectionFieldRow {
  width: 100%;
  padding: 8px 16px;
  border: 1px dashed colors.$grey;
  border-radius: 6px;
  margin: 10px 0;
  cursor: grab;
  background-color: #fff;
}
