.EyeButton {
  width: 32px;
  height: 24px;
  background-color: #EBF7FF;
  color: #0E73F6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}