.title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #1b1b1b;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
  margin-top: 8px;
  padding-bottom: 6px;
}

.button {
  height: 32px;
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  border: 1px solid rgba(55, 53, 47, 0.16);
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }

  &:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
    border: 1px solid rgba(55, 53, 47, 0.1);
  }
}

.button.save {
  color: #fff;
  background-color: rgb(35, 131, 226);
  border-color: transparent;

  &:hover {
    background-color: rgba(35, 131, 226, 0.8);
  }
}

.button.loading {
  cursor: wait;
  pointer-events: none;
}
