
.FiltersBlock {
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;

  .side {
    display: flex;
    align-items: center;
    gap: 10px;
  }

}