.FiltersBlock {
  width: 100%;
  min-height: 50px;
  // background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  position: relative;

  .side {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
