.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.customCheckbox {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 12px;
  position: relative;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #D0D5DD;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkmarkInner {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkboxInput:checked + .checkmark .checkmarkInner {
  display: flex;
}

.checkboxInput:checked + .checkmark {
  border: 1px solid #004EEB;
}
