.billingCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  padding: 24px;
  border: 1px solid #E2E8F0;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.billingCard.bestPlan {
  border: 2px solid #4F46E5;
}

.btn {
  margin-top: auto;
}
