.ColorPicker {
  position: relative;

    .round {
  
      &:hover {
        transform: scale(1.2);
      }
    }


  .round {
    width: 25px;
    height: 25px;
    border: 1px solid silver;
    border-radius: 4px;

    // margin: 0 4px;
    cursor: pointer;
  }
}

.ColorPickerPopup {
  display: flex;
  padding: 10px;
  gap: 5px;
  max-width: 500px;
  flex-wrap: wrap;

  .round {
    width: 27px;
    height: 27px;
    border: 1px solid silver;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;

  }

  .round {

    &:hover {
      transform: scale(1.2);
    }
  }

}