.summaryButton {
  display: flex;
  margin-top: 8px;

  .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 6px;
    flex-grow: 1;
  }
}

.addBtn {
  width: 100%;
  padding: 6px;
  border: 1px solid #EAECF0;
  border-radius: 6px;
}
