.paper {
  min-width: 290px;
  max-width: 320px;
  padding: 4px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
}

.title {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: rgb(115, 114, 110);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  user-select: none;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {

}

.button {
  width: 100%;
  min-height: 28px;
  line-height: 120%;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  color: rgb(50, 48, 44);

  &:hover {
    background-color: rgba(55, 53, 47, 0.06);
  }
}

.buttonInner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  text-transform: capitalize;
}

.icon {

}
