.outlet {
  width: 440px;
  height: 670px;
  box-shadow: 0px 1px 2px 0px rgba(8, 8, 8, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(30, 31, 33, 0.3);
  margin: 0 auto;
  padding: 24px 20px;
  background: #fff;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outletSecond {
  width: 440px;
  height: 670px;
  box-shadow: 0px 1px 2px 0px rgba(8, 8, 8, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(30, 31, 33, 0.3);
  margin: 0 auto;
  padding: 24px 20px;
  background: #fff;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outletPhone {
  width: 440px;
  height: 670px;
  box-shadow: 0px 1px 2px 0px rgba(8, 8, 8, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(30, 31, 33, 0.3);
  margin: 0 auto;
  padding: 24px 20px;
  background: #fff;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outletForgot {
  width: 440px;
  height: 670px;
  box-shadow: 0px 1px 2px 0px rgba(8, 8, 8, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(30, 31, 33, 0.3);
  margin: 0 auto;
  padding: 24px 20px;
  background: #fff;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

<<<<<<< HEAD
.outletFirebase {
  width: 480px;
  height: 380px;
  box-shadow: 0px 1px 2px 0px rgba(8, 8, 8, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(30, 31, 33, 0.3);
  margin: 0 auto;
  padding: 32px 40px;
  background: #fff;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
=======
.page {
  height: 100%;
}
>>>>>>> prod_correction
