.tabBtn {
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #667085;
  background-color: transparent;
  cursor: pointer;

  &.active {
    color: #344054;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    // box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  }
}

.addRoleBtn {
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  background-color: transparent;
  color: rgba(102, 112, 133, 1);
  cursor: pointer;
  
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tabs {
  display: inline-flex;
  column-gap: 8px;
  padding: 2px;
  border-radius: 8px;
  background-color: #F9FAFB;
  overflow: auto;
  border: 1px solid #EAECF0;
}
