.tabBtn {
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #667085;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;

  &.active {
    color: #344054;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    // box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  }
}

.addRoleBtn {
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  background-color: transparent;
  color: rgba(102, 112, 133, 1);
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tabs {
  display: inline-flex;
  column-gap: 8px;
  padding: 2px;
  border-radius: 8px;
  background-color: #f9fafb;
  overflow: auto;
  border: 1px solid #eaecf0;
  margin-right: 10px;
}

.categoryDropdown {
  position: relative;
  z-index: 10;
}

.categoryDropdownBtn {
  padding: 2px 8px;
  border: 1px solid #b2ddff;
  border-radius: 4px;
  background-color: #eff8ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #175cd3;
  cursor: pointer;
}

.categoryDropdownBtnInner {
  display: flex;
  align-items: center;
  column-gap: 4px;
  white-space: nowrap;
}

.categoryDropdownContent {
  min-width: 290px;
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 12px 16px -4px #10182814;
}

.categoryTitle {
  padding-left: 16px;
  margin-bottom: 8px;
  color: #667085;
  font-size: 12px;
  line-height: 18px;
}

.categoryList {
  list-style: none;
}

.categoryLabel {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 7px 16px;
  cursor: pointer;

  &:hover {
    background-color: #f9fafb;
  }
}

.customRadio {
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid #d0d5dd;
  border-radius: 50%;

  span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #004eeb;
  }
}

.customRadio.active {
  border-color: #004eeb;

  span {
    display: block;
  }
}

.categoryLabelBadge {
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;

  &.table {
    background-color: #d3f8df;
  }
  &.menu {
    background-color: #fee4e2;
  }
  &.permission {
    background-color: #fef7c3;
  }
}

.iconBtn {
  width: 22px;
  height: 20px;
  border: 1px solid #eaecf0;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.clientType {
  font-size: 12px;
  line-height: 24px;
}

.clientTypeConnect {
  font-size: 12px;
  line-height: 28px;
}

.saveBtn {
  font-size: 12px;
  line-height: 18px;
}
