@use "/src/scss/colors";


.profilepaper {
    margin-top: 5px;
    margin-right: 10px;
    left: 230px !important;
}


.profilemenu {
    padding: 0 !important;
    width: 200px;

    .block {
        max-height: 350px;
        overflow-y: auto;
        padding: 8px;
        max-width: 200px;

        &::-webkit-scrollbar {
            display: none;
        }

        .companyblock {
            display: flex;
            column-gap: 8px;
            overflow: scroll;
            width: fit-content;
        }
    }

    .company {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0;
        background-color: #fff;
        cursor: pointer;
        border-radius: 6px;
        overflow: auto;

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #007AFF;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 13px;
            font-weight: 500;
        }

        .avatarborder {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #007AFF;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 13px;
            font-weight: 500;
            border: 1px solid #ffa12f;

        }

        .createbutton {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #fff;
            border: 1px dashed #007AFF;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 13px;
            font-weight: 500;
        }
    }

    .menuItem {
        display: flex;
        align-items: center;
        padding: 8px;
        min-width: 170px;
        gap: 8px;
        background-color: #fff;
        cursor: pointer;
        border-radius: 6px;


        &.active {
            color: #fff;
            background-color: colors.$primary;

            &:hover {
                background: colors.$primary;
            }
        }

        .dragIcon {
            cursor: grab;
        }

        .itemText {
            flex: 1;
            color: #747474;
        }


        &:hover {
            background: #F6F8F9;
        }

    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #007AFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
    }

    .companyavatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: lime;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
    }

    .projectavatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
    }

    .environmentavatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
    }

    .createbutton {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        border: 1px dashed #007AFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
    }
}