@use "/src/scss/colors";

.paper {
  margin-top: 5px;
  margin-right: 10px;
  // filter: drop-shadow(0px 0px 1px rgba(26, 32, 36, 0.035)) drop-shadow(0px 12px 24px rgba(91, 104, 113, 0.24));
}

.menu {
  padding: 0 !important;


  .scrollBlocksss {
    max-height: 350px;
    overflow-y: auto;
    padding: 16px;
  }

  .menuItem {
    display: flex;
    align-items: center;
    padding: 8px 0;
    // box-shadow: inset 0px -1px 0px #E5E9EB;
    min-width: 170px;
    gap: 8px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 6px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &.active {
      color: #fff;
      background-color: colors.$primary;

      &:hover {
        background: colors.$primary;
        ;
      }
    }

    .dragIcon {
      cursor: grab;
    }

    .itemText {
      flex: 1;
      color: #747474;
    }

    // &:hover {
    //   background: #F6F8F9;
    // }

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #007AFF;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }
}