.promptInputWrapper {
  width: 768px;
  display: flex;
  flex-direction: column;
}

.promptInput {
  width: 100%;
  height: 100%;
  max-height: 200px;
  min-height: 80px;
  position: relative;
  font-size: 16px;
}

.textArea {
  width: 100%;
  height: 100%;
  min-height: 140px;
  padding: 16px;
  outline: none;
  resize: none;
  border: 2px solid #e9d4ff80;
  border-radius: 16px;
  background-color: #fff;
  font-weight: normal;
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
  backdrop-filter: blur(24px);

  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
  
  &:focus {
    border-color: rgb(218 178 255);
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 20px 25px -5px color-mix(in oklab, color-mix(in oklab, lab(78.3298% 26.2195 -34.9499) 30%, transparent) 100%, transparent), 0 8px 10px -6px color-mix(in oklab, color-mix(in oklab, lab(78.3298% 26.2195 -34.9499) 30%, transparent) 100%, transparent);
  }
}

.promptInputFooter {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.promptInputBtn {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(43 166 255 / 1);
}

.submitButton {
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-image: linear-gradient(#f6339a, #ad46ff);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px color-mix(in oklab, color-mix(in oklab, lab(63.6946% 47.6127 -59.2066) 40%, transparent) 100%, transparent), 0 4px 6px -4px color-mix(in oklab, color-mix(in oklab, lab(63.6946% 47.6127 -59.2066) 40%, transparent) 100%, transparent);
  cursor: pointer;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}
