

.paper {
  margin-top: 5px;
  filter: drop-shadow(0px 0px 1px rgba(26, 32, 36, 0.035)) drop-shadow(0px 12px 24px rgba(91, 104, 113, 0.24));
}

.menu {
  padding: 10px;
}

.form {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 250px;
}