@use "/src/scss/colors";

.paper {
  margin-top: 5px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 1px rgba(26, 32, 36, 0.035)) drop-shadow(0px 12px 24px rgba(91, 104, 113, 0.24));
  border-radius: 2px;
}

.menu {
  padding: 8px;
  min-width: 130px;
  max-width: 250px;
  border-radius: 8px;

  .scrollBlock {
    margin: 8px 0;
    max-height: 300px;
    overflow: auto;

    .option {
      display: flex;
      align-items: center;
      padding: 2px 0;
      cursor: pointer;

      &:hover {
        background-color: #e4e4e45c;
      }

      .label {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}