

.panel {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 4px 4px 66px 0px rgba(34, 60, 80, 0.1);
  display: flex;
  flex-direction: column;

  .title {
    width: 100%;
    padding: 12px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
  }

}

.createPanelButton {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 4px 4px 66px 0px rgba(34, 60, 80, 0.1);
  border: 2px dashed silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  color: gray;
  transition-duration: .3s;


  .createPanelText {
    font-size: 16px;
    line-height: 24px;
  }

  &:hover {
    border-color: #007AFF;
    color: #007AFF;

  }
}