@use "/src/scss/colors";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&family=Inter:wght@400;700&display=swap");

html {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: "Inter", sans-serif;
}

.silver-bottom-border {
  box-shadow: inset 0px -1px 0px #e5e9eb;
}

.silver-right-border {
  box-shadow: inset -1px 0px 0px #e5e9eb;
}

.table-block {
  padding: 16px;
}

.drag-row {
  padding: 8px 16px;
  border: 1px dashed colors.$grey;
  border-radius: 6px;
  z-index: 1000;
}

.react-tabs {
  // -webkit-tap-highlight-color: transparent;
  position: relative;

  // padding-left: 10px;
  &__tab-list {
    border-bottom: 1px solid rgb(231, 231, 231);
    // margin: 0 0 20px;
    padding: 0;
    display: flex;
    overflow: auto;
    transform: translateY(1px);
  }

  &__tab {
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    position: relative;

    padding: 16px 16px;
    cursor: pointer;
    font-weight: 500;
    color: colors.$grey;
    border-bottom: 2px solid transparent;

    &--selected {
      border-bottom: 2px solid #1890ff;
      color: #1890ff;
    }

    &--disabled {
      color: silver;
      cursor: default;
    }

    &:focus {
      box-shadow: none;
      // border-color: none;
      outline: none;

      // &:after {
      //   content: "";
      //   position: absolute;
      //   height: 5px;
      //   left: -4px;
      //   right: -4px;
      //   bottom: -5px;
      //   background: #fff;
      // }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}

.react_detail {
  padding: 10px 0;
}

.drag-row-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px;
  min-height: 200px !important;
}

.pointer {
  cursor: pointer;
  font-size: 14px;
}

.text-nowrap {
  white-space: nowrap;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_overflow_line {
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-width-450 {
  max-width: 450px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 25px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.table-filter-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.child-position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-element {
  display: none !important;
}

.pageWithStickyFooter {
  min-height: calc(100vh - 56px);
}

.drag-cards-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px 35px 5px 5px;
}

.drag-card-ghost {
  transition: transform 0.18s ease;
  transform: translateY(-10px);
}

.drag-card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: translateY(0);
}

.rmdp-container {
  width: 100%;
}

.ql-editor {
  min-height: 100px;
}

.PlatformModal,
.TypeModal {
  min-width: 500px;

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .form {
    padding: 15px;

    .btns-row {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}

.custom_textfield {
  padding-right: 0 !important;

  div fieldset {
    border: none;
  }
}

.custom_textfield_new {
  position: absolute;
  padding-right: 0 !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  input {
    height: 40px;
    padding: 0 15px 0 15px;
  }
  div fieldset {
    border: none;
    border-radius: none !important;
  }
}

.custom_number_field {
  position: absolute;
  padding-right: 0 !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding-left: 10px;

  input {
    height: 40px;
    padding: 0 15px 0 15px;
  }
  div fieldset {
    border: none;
    border-radius: none !important;
  }
}

.custom_textfield_date {
  position: absolute;
  padding-right: 0 !important;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;

  input {
    height: 40px;
    padding: 0 15px 0 15px;
  }
  div fieldset {
    border: none;
    border-radius: none !important;
  }
}

.custom_textfield_time {
  position: absolute;
  padding-right: 0 !important;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;

  input {
    height: 40px;
    padding: 0 15px 0 15px;
  }
  div fieldset {
    border: none;
    border-radius: none !important;
  }
}

.calendar_textfield {
  padding-right: 0 !important;
  padding-left: 0 !important;
  cursor: pointer;

  div fieldset {
    cursor: pointer;
    border: none;
  }
}

.editable_col {
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-radius: 2px;

  &:focus,
  &:hover {
    border: 1px solid #212b36 !important;
  }
}

.MuiAutocomplete-inputRoot {
  padding-right: 45px !important;
}

.multiSelectInput {
  .MuiAutocomplete-inputRoot {
    padding-right: 0 !important;
  }
}

#cascading_menu {
  .MuiPopover-paper {
    overflow: inherit;
    height: 300px;
    box-shadow: 0px 0px 5px 0px rgb(212, 205, 205);

    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

#barcodes_print {
  display: none !important;
}

.text-overflow {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_overflow_line {
  padding: 10px;
  width: 350px;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
}

#hovers {
  // fill: white;
  transition: 0.2s all;
}

#hovers:hover {
  fill: #ec8c9c;
  pointer-events: all;
}

.custom-selected-tab {
  border-bottom: none;
  outline: none;
  padding: 3px 10px;
  display: none;
  background-color: #0e73f626;

  .custom_tab {
    border-bottom: none;
    outline: none;
    padding: 10px;
    width: 34px;
    height: 34px;
    // color:#0E73F6;
  }
}

.custom-tabs .react-tabs__tab-list {
  padding: 5px 16px 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.detail_selected_tab {
  background-color: #0e73f626;
  border-bottom: none;
  outline: none;
  padding: 10px;

  .detail_custom_tab {
    border-bottom: none;
    outline: none;
    padding: 10px;
    width: 34px;
    height: 34px;
    // color:#0E73F6;
  }
}

.detail_custom_tabs .react-tabs__tab-list {
  padding: 5px 16px 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.ce-toolbar__actions {
  left: -55px !important;
  top: -2px !important;
}
.moveable-control-box {
  z-index: 2 !important;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}
.moveable-control-box {
  z-index: 2 !important;
}

#react_quill {
  .ql-editor {
    min-width: 300px;
    height: 200px;
    overflow: auto;
  }
}

u {
  text-decoration: underline;
}

#wrapper_drag {
  .smooth-dnd-draggable-wrapper {
    display: table-row !important;
  }
}

.ql-font-roboto {
  font-family: "Roboto", sans-serif;
}

.ql-font-lato {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.ql-font-sans-serif {
  font-family: "sans-serif", sans-serif;
}

.ql-font-serif {
  font-family: "serif", serif;
}

.ql-font-monospace {
  font-family: "monospace", monospace;
}

/* Roboto Font */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  content: "Roboto";
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Lato Light Font */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="lato"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lato"]::before {
  content: "Lato";
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* San Francisco Font */
.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="san-francisco"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="san-francisco"]::before {
  content: "San Francisco";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#newRow {
  .MuiButtonBase-root {
    min-height: 30px !important;
    height: 30px !important;
  }
}

#detailPage {
  .MuiPaper-root {
    margin: 0 0;
    border-radius: 0px;
  }

  .MuiButtonBase-root {
    min-height: 50px;
    border-top: 1px solid #eaecf0;
  }
  .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 10px 0;
  }
}

#hcSwitchfield {
  .MuiPaper-root {
    margin: 0 0;
    border-radius: 0px;
  }

  .MuiButtonBase-root {
    min-height: 0px !important;
    border-top: 1px solid #eaecf0;
    bottom: 2px;
  }
  .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 10px 0;
  }
}

#hcCheckboxfield {
  .css-17ceore-MuiSvgIcon-root {
    color: #449424;
  }

  .MuiButtonBase-root {
    border-top: none;
    min-height: 0px !important;
    padding: 0 !important;
  }

  .MuiSvgIcon-root {
    font-size: 26px;
  }
}

#detailPageTabs {
  .react-tabs__tab--selected {
    color: #449424;
    border-bottom: 2px solid #449424;
  }
}

#hcTextfield {
  .MuiFormHelperText-root {
    color: red;
  }
}

#hcMultiline {
  .ql-toolbar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .ql-container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

#imgAlt {
  .MuiInputBase-root {
    height: 30px;
  }
}

#hcMapfield {
  .ymaps-2-1-79-inner-panes {
    border-radius: 8px;
  }
}

#hcDatapicker {
  .css-eih2dq-MuiInputBase-root-MuiOutlinedInput-root {
    padding-left: 0 !important;
  }
  .MuiButtonBase-root {
    min-height: 30px !important;
    border-top: none;
  }
}

#hcImage {
  .MuiButtonBase-root {
    border-top: none;
  }
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

#oneCTabs {
  .react-tabs__tab--selected {
    border-color: #449424;
    color: #449424;
  }
}

.loginField {
  border-radius: 8px;
  .MuiInputBase-input {
    height: 27px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
      color: #667085;
    }
  }
}

.loginFieldRequired {
  border-radius: 8px;
  border: 1px solid red;
  .MuiInputBase-input {
    height: 27px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
      color: #667085;
    }
  }
}

.phone_input {
  input {
    padding-left: 50px;
  }
  .PhoneInputCountry {
    display: none;
  }
}

.woot-widget-bubble {
  display: none !important;
}

.webLinkInput {
  border-radius: 8px;
  .MuiInputBase-input {
    height: 10px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
      color: #667085;
    }
  }
}

.ag-root-wrapper {
  border: none !important;
}

.ag-theme-quartz {
  --ag-row-border-style: solid;
  --ag-row-border-width: 1px;
  --ag-row-border-color: #e5e9eb;
  --ag-cell-horizontal-border: solid #e5e9eb;

  --ag-range-selection-border-color: #3b8ddf;
  --ag-range-selection-border-style: solid;
  --ag-range-selection-background-color: #d7eafd;

  --ag-range-selection-background-color-2: rgb(255, 0, 128, 0.19);
  --ag-range-selection-background-color-3: rgb(255, 0, 128, 0.27);
  --ag-range-selection-background-color-4: rgb(255, 0, 128, 0.34);

  --ag-range-selection-highlight-color: rgb(60, 188, 0, 0.3);

  --ag-header-height: 45px;

  --ag-header-foreground-color: #262626;
  --ag-header-background-color: #fff;
}

.ag-theme-quartz {
  --ag-grid-size: 8px;
}

.ag-theme-quartz {
  --ag-font-size: 13px;
  --ag-font-weight: 300;
  --ag-font-family: "Inter", sans-serif;
}

.ag-cell {
  padding: 0px 5px !important;

  .rowIndex {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .editButton {
      display: none;
      width: 100%;
      height: 30px !important;
      height: 100%;
    }

    &:hover {
      .indexValue {
        display: none;
      }

      .editButton {
        display: block;
        background: none !important;
      }
    }
  }

  .custom_field {
    border: none;
  }

  .actionBtn {
    padding: 10px 10px 10px 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    div {
      width: 32px;
      height: 32px;
    }

    .ag-fill-handle {
      display: none !important;
    }
  }

  .actionBtnNoBorder {
    padding: 5px 10px 10px 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    div {
      width: 32px;
      height: 32px;
    }
  }
  .customFields {
    text-align: justify !important;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
  }

  .customFieldsRelation {
    text-align: justify !important;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    padding: 0 !important;
  }

  .multiselectAggrid {
    position: absolute;
    width: 100%;
    height: 100%;

    div fieldset {
      border: none;
      height: 41px;
      overflow: hidden;
    }
  }

  .round {
    border-radius: 8px;
  }

  #multiSelectForm {
    .css-jdh8wj-MuiAutocomplete-root
      .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
      height: 100%;
    }
  }

  .required-field {
    outline: 1px solid red;
    outline-offset: -1px;
  }

  .ag-cell-wrapper {
    .ag-selection-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
