.card {
  min-width: 700px;
  border: none;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px #e5e9eb;

    .cardTitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }

    .closeIcon {
      font-size: 20px;
    }
  }

  .body {
    display: flex;
    align-items: flex-start;
  }
}
