.projectgroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  padding: 16px;
}

.button {
  margin: 15px 15px 0 15px;
  background: rgba(0, 122, 255, 0.08);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: inset 0px -1px 0px #e5e9eb;
  position: sticky;
  top: 0;
  z-index: 999999;
  background: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.projectradio {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .active {
    width: 100%;
    height: 200px;
    padding: 8px;
    margin: 0;
    border-radius: 8px;
    border: 1px solid #2d6ce5;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      font-size: 13px;
      font-weight: 700;
      color: #2d6ce5;
      border-radius: 4px;
    }

    p {
      color: #2d6ce5;
      font-size: 13px;
      font-weight: 500;
      margin-top: 12px;
    }

    span {
      &:nth-child(1) {
        display: none;
      }
    }
  }

  .inactive {
    width: 100%;
    height: 200px;
    padding: 8px;
    margin: 0;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      color: #a8a8a8;
      font-size: 21px;
      font-weight: 700;
      border-radius: 4px;
    }

    p {
      color: #a8a8a8;
      font-size: 13px;
      font-weight: 500;
      margin-top: 12px;
    }

    span {
      &:nth-child(1) {
        display: none;
      }
    }
  }
}
.tag {
  padding: 4px 0;
  text-align: center;
  border-radius: 6px;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  color: #fff;

  span {
    position: absolute;
    right: 5%;
    bottom: 0;
  }
}

.copy {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 30px;
}

.releasePublish,
.releaseRevert {
  &:hover {
    background: #eee;
  }
}
