.projectgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    padding: 16px;
}

.button {
    margin: 15px 15px 0 15px;
    background: rgba(0, 122, 255, 0.08);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: inset 0px -1px 0px #e5e9eb;
    position: sticky;
    top: 0;
    z-index: 999999;
    background: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.projectradio {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .active {
        width: 100%;
        height: 200px;
        padding: 8px;
        margin: 0;
        border-radius: 8px;
        border: 1px solid #2D6CE5;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            font-size: 13px;
            font-weight: 700;
            color: #2D6CE5;
            border-radius: 4px;
        }

        p {
            color: #2D6CE5;
            font-size: 13px;
            font-weight: 500;
            margin-top: 12px;
        }

        span {
            &:nth-child(1) {
                display: none;
            }
        }
    }

    .inactive {
        width: 100%;
        height: 200px;
        padding: 8px;
        margin: 0;
        border-radius: 8px;
        border: 1px solid #F0F0F0;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            color: #A8A8A8;
            font-size: 21px;
            font-weight: 700;
            border-radius: 4px;
        }

        p {
            color: #A8A8A8;
            font-size: 13px;
            font-weight: 500;
            margin-top: 12px;
        }

        span {
            &:nth-child(1) {
                display: none;
            }
        }
    }
}