.multilineWrapper {
  position: relative;
  display: flex;
  gap: 8px;
}

.slicedText {
  height: 32px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  cursor: text;
  min-height: 16px;
}

.multiLineCellFormElementBtn {
  display: none;
  position: absolute;
  right: 26px;
  top: 50%;
  padding: 2px;
  border-radius: 4px;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 19%);

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.multilineWrapper:hover .multiLineCellFormElementBtn {
  display: inline-block;
}
