.header {
  padding: 16px 18px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaecf0;

  .arrowIcon {
    margin: 0 8px;
    transform: translateY(3px);
  }

  .item {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #475467;

    &.active {
      font-weight: 600;
      color: #007afe;
    }
  }
}

.titleBlock {
  padding: 0 18px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftSide {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .backButton {
    margin-right: 5px;
  }

  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .buttons {
    display: flex;
    align-items: center;
    grid-gap: 12px;

    .primaryButton {
      height: 30px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      padding: 10px 18px;
      border-radius: 8px;
      background-color: #007afd;
      box-shadow: none;

      svg circle {
        stroke: white;
      }

      &:hover {
        background-color: #367a1c;
      }
    }

    .secondaryButton {
      height: 30px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      padding: 10px 18px;
      border-radius: 8px;
      background-color: white;
      box-shadow: none;
      border: 1px solid #d0d5dd;
      color: #344054;

      &:hover {
        background-color: #f5f6f7;
      }
    }
  }
}

.content {
  display: flex;

  .variables {
    width: 360px;
    min-width: 360px;
    border-right: 1px solid #eaecf0;
    background-color: white;
    overflow: auto;
  }

  .editor {
    flex: 1;
    height: calc(100vh - 127px);
  }
}

.titleInput {
  flex: 1;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  outline: none;
}
