@use "/src/scss/colors";

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  height: 100vh;
  overflow-y: hidden;

  .title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .typeSwitchRow {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;

    .typeSwitchButton {
      padding: 15px 24px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1.5px solid rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      cursor: pointer;
      transition-duration: 0.3s;

      &.active {
        border-color: colors.$primary;
        color: colors.$primary;

        &:hover {
          border-color: colors.$primary;
        }
      }

      &:hover {
        border-color: #000;
        // color: colors.$primary;
      }
    }
  }
}

.formArea {
  flex: 1;
  overflow: auto;
  margin-top: 10px;

  .formRow {
    .label {
      font-weight: 600 !important;
      margin-bottom: 5px;
    }

    margin-bottom: 20px;

    .phone {
      padding: 8px;
      border: 1px solid #f8f8f8;

      // &:focus-visible {
      //   outline: blue;
      // }

      &:hover {
        border-color: #000;
      }

      input {
        border: none;

        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}

.buttonsArea {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 5px 0px;
}

.modalButtonsArea {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.publickOfferRow {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  box-shadow: inset 0px -1px 0px #e5e9eb;

  .nameBlock {
    flex: 1;

    .fileName {
      line-height: 24px;
    }

    .fileSize {
      color: #84919a;
    }
  }
}

.checkboxLabel {
  color: colors.$grey;
}

.headerContent {
  height: 50px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.footerContent {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.formRow {
  .label {
    font-weight: 600 !important;
    margin-bottom: 5px;
  }

  margin-bottom: 20px;

  .phone {
    padding: 8px;
    border: 1px solid #f8f8f8;

    &:hover {
      border-color: #000;
    }

    input {
      border: none;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
.registerBtn {
  background: #fff !important;
  color: #005fc4 !important;
  height: 42px !important;
}
.registerBtnPage {
  height: 42px !important;
}

.form {
  margin-top: 0;
  padding: 0 20px;
}
