.viewTypeList {
  border-radius: 0px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 8px;
  background: #f7f5f5;
  box-shadow:
    0px 0px 16px 1px rgba(15, 15, 15, 0.04),
    0px 12px 16px rgba(15, 15, 15, 0.15),
    0px 9px 24px rgba(15, 15, 15, 0.06);

  .wrapper {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;
      padding: 16px;
      border-right: 1px solid #e5e5e5;
      button {
        width: 100%;
        text-align: left;
        color: #a8a8a8;
        display: flex;
        justify-content: start;
        padding: 8px 4px;

        &.active {
          color: #2d6ce5;
          background: #2d6ce51a;
        }
      }
    }

    .right {
      padding: 24px;

      .img {
        height: 200px;
        width: 400px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .text {
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        p {
          margin: 6px 0 12px 0;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .button {
        margin-top: 15px;
        button {
          text-transform: capitalize;
        }
      }
    }
  }
}
