.headcell {
  position: fixed;
  right: 0;
  width: 100%;
  background: #fff;
  max-width: 90px;
  height: 100%;
  min-height: 35px !important;
  max-height: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  width: 100%;
  min-width: 240px;
  max-height: 500px;
  // overflow: auto;
  position: relative;

  .advanced {
    color: #4f5762 !important;
    display: flex;
    column-gap: 5px;

    &:hover {
      background: #f5f6fa;
    }
  }

  .input {
    fieldset {
      border-radius: 6px;
    }
  }

  .custom_label {
    color: #656f7d;
  }

  .title {
    // margin-top: 4px;
    font-weight: 600;
    color: #818193;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    pointer-events: none;
    padding: 11px 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 9999 !important;
    background: #fff;
  }

  .button {
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    padding: 11px 15px;
    height: 32px;
    column-gap: 7px;
    border-radius: 6px;

    &:hover {
      background: rgba(55, 53, 47, 0.06);
    }

    svg {
      font-size: 14.5px;
      line-height: 24px;
      font-weight: 500;
      color: #55534E;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: rgb(50, 48, 44);
    }
  }

  .relation {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .button_group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    column-gap: 10px;
  }

  .dropdown {
    height: 100%;
    // overflow: auto;
    .option {
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      margin-bottom: 7px;
      color: #656f7d;
    }

    .startAdornment {
      width: 5px;
      height: 35px;
      display: block;
      position: absolute;
      left: -6px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .adornment {
      display: flex;
      align-items: center;
      column-gap: 5px;

      p {
        font-size: 10px;
        font-weight: 400;
        line-height: 0.8;
        text-wrap: nowrap;
        color: #007aff;
        cursor: pointer;
      }

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .formula {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 10px;

    .plus {
      display: block;
    }
  }

  .form {
    padding: 10px 5px;

    .field {
      display: flex;
      align-items: center;
      justify-content: center;
      // min-width: 500px;
      // width: 300px;
      column-gap: 10px;
    }
  }
}

.field {
  width: 100%;
  // padding: 5px;
}

.dropdown {
  min-width: 250px;
  position: relative;
}

.dropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: rgb(115, 114, 110);
  fill: rgba(71, 70, 68, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  user-select: none;
  height: 20px;
}

.appendBtn {
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  padding: 0px;

  &:hover {
    background: rgba(55, 53, 47, 0.06);
  }
}


.fieldItemWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 28px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.fieldItem {
  color: #4f5762;
  display: inline-flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0px;
  max-width: 100%;
  height: 20px;
  margin: 0px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 120%;
  font-size: 14px;
  color: rgb(68, 42, 30);
  background: rgba(210, 162, 141, 0.35);
}

.appendOption {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 6px;
}

.appendInput {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
  background: rgba(242, 241, 238, 0.6);
  cursor: text;
  padding: 3px 8px;
  height: 28px;
}

.editOptionMenu {
  position: absolute;
  z-index: 100;
  top: 0;
  right: -10px;
  width: 80%;
  min-height: 90px;
  background-color: #fff;
  padding: 6px;
  border-radius: 10px;
  backdrop-filter: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
}

.colorsWrapper {
  overflow: auto;
  max-height: 300px;
}

.deleteOptionBtn {
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 28px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;

  &:hover {
    background: rgba(55, 53, 47, 0.06);
  }
}

.line {
  display: block;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background: rgba(55, 53, 47, 0.09);
}

.colors {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: rgb(115, 114, 110);
  fill: rgba(71, 70, 68, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  user-select: none;
}

.colorWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 28px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background: rgba(55, 53, 47, 0.06);
  }
}

.color {
  width: 18px;
  height: 18px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 28px;
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background: rgba(55, 53, 47, 0.06);
  }
}

.btnWrapper {
  // margin-top: 40px;
}

.editProperty {
  min-height: 102px;
  overflow: visible !important;
  max-height: 500px;
}

.fieldHeading {
  margin-bottom: 12px;
  color: rgb(115, 114, 110);
  fill: rgba(71, 70, 68, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  user-select: none;
}

.fieldsList {
  display: flex;
  align-items: baseline;

  .dot {
    flex-grow: 1;
    height: 1px;
    background: rgba(55, 53, 47, 0.09);
    margin-left: 6px;
    margin-right: 6px;
  }

  .fieldTitle {
    max-width: 120px;
  }

  .fieldValue {
    // flex-grow: 1;
    text-align: right;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}