.cell-data {
  position: relative;

  .cell-popup {
    z-index: 3;
    position: absolute;
    top: 35px;
    left: 0;
    min-width: 180px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: inset 0px -1px 0px #E5E9EB;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    text-align: start;

    .cell-popup-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      font-weight: 500;
      color: #303940;
      transition: all 0.3s ease;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

