.cell-data {
  position: relative;

  .cell-popup {
    z-index: 3;
    position: absolute;
    top: 35px;
    left: 0;
    min-width: 180px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: inset 0px -1px 0px #e5e9eb;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    text-align: start;

    .cell-popup-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      font-weight: 500;
      color: #303940;
      transition: all 0.3s ease;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.CTableRow {
  .data_table__number_cell {
    position: relative;

    .data_table__row_checkbox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      display: none;

      &.checked {
        display: flex !important;
      }
    }
  }

  .first_button,
  .table_multi_checkbox {
    display: none;
  }

  .data_table__row_number {
    display: block;
  }

  &:hover {
    .data_table__row_checkbox {
      display: flex;
    }

    .first_button,
    .table_multi_checkbox {
      display: block;
    }

    .data_table__row_number {
      display: none;
    }
  }
}

.multipleRow {
  background-color: #2a2d34;
  transition: all 1s ease;
}

.smooth-dnd-container {
  min-height: auto !important;
}

.math {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100px;
}

.math_plus {
  background: #6bc950;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 24px;
  height: 24px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.math_minus {
  background: #fd7171;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 24px;
  height: 24px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;

}

.math_multiplication {
  background: #ffc800;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 24px;
  height: 24px;
  border-radius: 7px;
  color: #fff;
  font-size: 20px;

  cursor: pointer;
}

.math_division {
  background: #49ccf9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 24px;
  height: 24px;
  border-radius: 7px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}