@use "/src/scss/colors";

.wrapper {
  display: flex;
  padding: 0 0px;

  .filters {
    padding: 8px;
    border-right: 1px solid #e3e3e3;
    background: #fff;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    transition: 0.3s;

    .block {
      padding: 8px;
      border-right: 0px solid #e3e3e3;

      p {
        font-weight: 700;
        margin-bottom: 12px;
      }
    }
  }

  .board {
    display: flex;
    padding: 0 16px;
    gap: 24px;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 121px);
    padding-bottom: 1px;
  }
}

.columnHeaderBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding: 18px 8px 6px 8px;
  margin-bottom: 1px;
}

.title {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  // font-weight: 700;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rightSide {
  display: none;
  align-items: center;
  gap: 5px;
  color: rgba(70, 68, 64, 0.45);
}

.addButton {
  border-radius: 6px;
  width: 24px;
  height: 24px;
}

.counter {
  width: 24px;
  height: 24px;
  font-size: 14px;
  color: rgba(70, 68, 64, 0.45);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.column {
  width: 278px;
  border-radius: 12px;
  background: transparent;
  // padding: 0 8px;

  &:hover {
    .rightSide {
      display: flex;
    }
  }
}

.tabBlockStatus {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  height: 20px;
  height: 20px;
  align-items: center;
  padding: 0 7px 0 9px !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.cardWrapper {
  max-width: 260px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(55, 53, 47, 0.04);
  }
}

.columnFooterBlock {
  margin-top: 8px;
  padding: 0 8px;
  max-width: 276px;
  height: 41px;

  button {
    justify-content: flex-start;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    background: #fff;
    color: rgba(70, 68, 64, 0.45);
    box-shadow: rgba(55, 53, 47, 0.09) 0px 0px 0px 1px;
  }
}

.filtersVisiblitiy {
  padding: 0px;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  transition: 0.3s;

  .block {
    display: none;
    padding: 0;

    p {
      font-weight: 700;
      margin-bottom: 12px;
    }
  }
}

.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #fff;
  border: 1px solid rgb(221, 217, 217);
  border-radius: 4px;
  cursor: pointer;
}

.menuBar {
  width: 180px;
}

.settings {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px 0;

  span {
    margin-left: 10px;
  }
}

.element {
  border: 1px solid #e5e9eb;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.2s;

  &.active {
    color: colors.$primary;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 2px solid #0e73f6;
  }
}

.template {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}

.lineControl {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 10px 5px 10px;
  cursor: pointer;

  span {
    margin-left: 10px;
  }

  .lineControl_item {
    display: flex;
    width: 32px;
    align-items: center;
    justify-content: center;
  }
}