.cypress_testing:
  stage: cypress-testing
  image: cypress/browsers:node-22.11.0-chrome-130.0.6723.69-1-ff-132.0-edge-130.0.2849.56-1
  script: 
    - git clone https://oauth2:${OAUTH_GITLAB_TOKEN}@${REPOSITORY_URL}
    - WORKDIR=$(echo ${REPOSITORY_URL} | sed 's#.*/\([^/]*\)\.git#\1#')
    - cd ${WORKDIR} && git checkout ${GIT_BRANCH}
    - bash run.sh
    - TEST_STATUS=$?
    - echo "Cypress test exited with status code: $TEST_STATUS"
