.cypress_testing:
  stage: cypress-testing
  image: cypress/browsers:node-22.11.0-chrome-130.0.6723.69-1-ff-132.0-edge-130.0.2849.56-1
  before_script:
    - apt-get update && apt-get install -y curl
  script:
    - echo "Cloning repository..."
    - git clone https://oauth2:${OAUTH_GITLAB_TOKEN}@${REPOSITORY_URL}
    - WORKDIR=$(echo ${REPOSITORY_URL} | sed 's#.*/\([^/]*\)\.git#\1#')
    - cd ${WORKDIR} && git checkout ${GIT_BRANCH}
    - echo "Running Cypress tests..."
    - bash run.sh
    - TEST_STATUS=1 # Capture the exit status of the Cypress tests
    - echo "TEST_STATUS=$TEST_STATUS" > $CI_PROJECT_DIR/.test_status.env  # Save the status to a file
    - echo $TEST_STATUS
  after_script:
    - echo "Cypress test finished"
    - echo "Loading test status..."
    - source $CI_PROJECT_DIR/.test_status.env  # Load the saved status
    - echo "Cypress test status is: $TEST_STATUS"
    - TEST_STATUS=$((TEST_STATUS))
    - echo $TEST_STATUS
    - |
      if [ "$TEST_STATUS" -eq 0 ]; then
        MESSAGE="Cypress tests succeeded in project: ${CI_PROJECT_NAME}. Check details: ${CI_JOB_URL}"
      else
        MESSAGE="Cypress tests failed in project: ${CI_PROJECT_NAME}. Check details: ${CI_JOB_URL}"
      fi
    - echo $MESSAGE
    # Send the message via Telegram
    - |
      curl -X POST "https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage" \
          -d "chat_id=${TELEGRAM_CHAT_ID}" \
          -d "text=${MESSAGE}"
