.card {
  width: 266px;
  padding: 12px 8px;
}

.removeBtn {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 4px 8px;
  margin-top: 8px;
}

.group {
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #8F8E8B;
}

.colorBtn {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 8px;
}

.color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
}
