.fileTree {
  width: 220px;
  border-right: 1px solid #e5e9eb;
  background: #252526;
  color: #939393;
}

.file {
  padding: 4px 12px;
  cursor: pointer;

  &:hover {
    background-color: #3b3b3b;
  }
}

.file.active {
  background-color: #3b3b3b;
  color: #fff;
}

